<div class="popup_container_achievements">
	<div class="row a_title">
		<div class="title">
			<div class="title_outer">
				<div class="title_inner resizble">
					Достижения
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="mb_2p"></div>
	<div class="row_center">
		<div class="m_menu">
			<div class="game_menu_arrow">
				<div class="game_menu_arrow_outer">
					<div class="game_menu_arrow_inner left">
					</div>
				</div>
			</div>
			<div class="game_menu">
				<div class="game_menu_outer">
					<div class="game_menu_inner">
						<div class="middle_button">
							<a href="game.html" class="middle_button_outer">
								<div class="middle_button_inner">
									<div class="text resizble" style="font-size: 18px; line-height: 45px;">
									</div>
								</div>
							</a>
						</div>
						<div class="middle_button">
							<a href="#" class="middle_button_outer">
								<div class="middle_button_inner">
									<div class="text resizble" style="font-size: 18px; line-height: 45px;">
									</div>
								</div>
							</a>
						</div>
						<div class="middle_button">
							<a href="#" class="middle_button_outer">
								<div class="middle_button_inner">
									<div class="text resizble" style="font-size: 18px; line-height: 45px;">
									</div>
								</div>
							</a>
						</div>
						<div class="middle_button">
							<a href="#" class="middle_button_outer">
								<div class="middle_button_inner">
									<div class="text resizble" style="font-size: 18px; line-height: 45px;">
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="game_menu_arrow">
				<div class="game_menu_arrow_outer">
					<div class="game_menu_arrow_inner right">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row_center">
		<div class="achievements_main">
			<div class="outer">
				<div class="inner scrolling">	
					<div class="achievements_row">
						<div class="achievements_row_outer">
							<div class="achievements_row_inner">
								<div class="а_l_title">
									<div class="title">
										<div class="title_outer">
											<div class="title_inner resizble">
											</div>
										</div>
									</div>
								</div>
								<div class="achievements_items">
									<div class="achievements_item">
										<div class="icon"><img src="asset/archivment.png"></div>
										<div class="info">
											<div class="bar">
												<div class="bar_outer">
													<div class="bar_inner" style="background-size: 40% 100%">
													</div>
												</div>
											</div>
											<div class="text resizble_long">
												Победа в турнирах
											</div>
										</div>
									</div>	
									<div class="achievements_item">
										<div class="icon"><img src="asset/archivment.png"></div>
										<div class="info">
											<div class="bar">
												<div class="bar_outer">
													<div class="bar_inner" style="background-size: 40% 100%">
													</div>
												</div>
											</div>
											<div class="text resizble_long">
												Победа в турнирах
											</div>
										</div>
									</div>	<div class="achievements_item">
										<div class="icon"><img src="asset/archivment.png"></div>
										<div class="info">
											<div class="bar">
												<div class="bar_outer">
													<div class="bar_inner" style="background-size: 40% 100%">
													</div>
												</div>
											</div>
											<div class="text resizble_long">
												Победа в турнирах
											</div>
										</div>
									</div>	
									<div class="achievements_item">
										<div class="icon"><img src="asset/archivment.png"></div>
										<div class="info">
											<div class="bar">
												<div class="bar_outer">
													<div class="bar_inner" style="background-size: 40% 100%">
													</div>
												</div>
											</div>
											<div class="text resizble_long">
												Победа в турнирах
											</div>
										</div>
									</div>	
									<div class="achievements_item">
										<div class="icon"><img src="asset/archivment.png"></div>
										<div class="info">
											<div class="bar">
												<div class="bar_outer">
													<div class="bar_inner" style="background-size: 40% 100%">
													</div>
												</div>
											</div>
											<div class="text resizble_long">
												Победа в турнирах
											</div>
										</div>
									</div>	
								</div>	
							</div>
						</div>
					</div>	
					<div class="achievements_row">
						<div class="achievements_row_outer">
							<div class="achievements_row_inner">
								<div class="а_l_title">
									<div class="title">
										<div class="title_outer">
											<div class="title_inner resizble">
											</div>
										</div>
									</div>
								</div>	
								<div class="achievements_items">
									<div class="achievements_item">
										<div class="icon"><img src="asset/archivment.png"></div>
										<div class="info">
											<div class="bar">
												<div class="bar_outer">
													<div class="bar_inner" style="background-size: 40% 100%">
													</div>
												</div>
											</div>
											<div class="text resizble_long">
												Победа в турнирах
											</div>
										</div>
									</div>	
									<div class="achievements_item">
										<div class="icon"><img src="asset/archivment.png"></div>
										<div class="info">
											<div class="bar">
												<div class="bar_outer">
													<div class="bar_inner" style="background-size: 40% 100%">
													</div>
												</div>
											</div>
											<div class="text resizble_long">
												Победа в турнирах
											</div>
										</div>
									</div>	<div class="achievements_item">
										<div class="icon"><img src="asset/archivment.png"></div>
										<div class="info">
											<div class="bar">
												<div class="bar_outer">
													<div class="bar_inner" style="background-size: 40% 100%">
													</div>
												</div>
											</div>
											<div class="text resizble_long">
												Победа в турнирах
											</div>
										</div>
									</div>	
									<div class="achievements_item">
										<div class="icon"><img src="asset/archivment.png"></div>
										<div class="info">
											<div class="bar">
												<div class="bar_outer">
													<div class="bar_inner" style="background-size: 40% 100%">
													</div>
												</div>
											</div>
											<div class="text resizble_long">
												Победа в турнирах
											</div>
										</div>
									</div>	
									<div class="achievements_item">
										<div class="icon"><img src="asset/archivment.png"></div>
										<div class="info">
											<div class="bar">
												<div class="bar_outer">
													<div class="bar_inner" style="background-size: 40% 100%">
													</div>
												</div>
											</div>
											<div class="text resizble_long">
												Победа в турнирах
											</div>
										</div>
									</div>	
								</div>								
							</div>
						</div>
					</div>	
					<div class="achievements_row">
						<div class="achievements_row_outer">
							<div class="achievements_row_inner">	
								<div class="а_l_title">
									<div class="title">
										<div class="title_outer">
											<div class="title_inner resizble">
											</div>
										</div>
									</div>
								</div>
								<div class="achievements_items">
									<div class="achievements_item">
										<div class="icon"><img src="asset/archivment.png"></div>
										<div class="info">
											<div class="bar">
												<div class="bar_outer">
													<div class="bar_inner" style="background-size: 40% 100%">
													</div>
												</div>
											</div>
											<div class="text resizble_long">
												Победа в турнирах
											</div>
										</div>
									</div>	
									<div class="achievements_item">
										<div class="icon"><img src="asset/archivment.png"></div>
										<div class="info">
											<div class="bar">
												<div class="bar_outer">
													<div class="bar_inner" style="background-size: 40% 100%">
													</div>
												</div>
											</div>
											<div class="text resizble_long">
												Победа в турнирах
											</div>
										</div>
									</div>	<div class="achievements_item">
										<div class="icon"><img src="asset/archivment.png"></div>
										<div class="info">
											<div class="bar">
												<div class="bar_outer">
													<div class="bar_inner" style="background-size: 40% 100%">
													</div>
												</div>
											</div>
											<div class="text resizble_long">
												Победа в турнирах
											</div>
										</div>
									</div>	
									<div class="achievements_item">
										<div class="icon"><img src="asset/archivment.png"></div>
										<div class="info">
											<div class="bar">
												<div class="bar_outer">
													<div class="bar_inner" style="background-size: 40% 100%">
													</div>
												</div>
											</div>
											<div class="text resizble_long">
												Победа в турнирах
											</div>
										</div>
									</div>	
									<div class="achievements_item">
										<div class="icon"><img src="asset/archivment.png"></div>
										<div class="info">
											<div class="bar">
												<div class="bar_outer">
													<div class="bar_inner" style="background-size: 40% 100%">
													</div>
												</div>
											</div>
											<div class="text resizble_long">
												Победа в турнирах
											</div>
										</div>
									</div>	
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row_center">
		<a href="#" class="button">
			<div class="button_outer on">
				<div class="button_inner resizble">
				</div>
			</div>
		</a>
		<a href="#" class="button">
			<div class="button_outer on">
				<div class="button_inner resizble">
				</div>
			</div>
		</a>
		<a href="#" class="button">
			<div class="button_outer on">
				<div class="button_inner resizble">
				</div>
			</div>
		</a>
	</div>
</div>