<div class="popup_container_friends">
	<div class="row">
		<div class="title">
			<div class="title_outer">
				<div class="title_inner resizble">
					Друзья
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="mb_2p"></div>
	<div class="f_menu">
		<div class="order_main">
			<div class="order">
				<div class="outer">
					<div class="inner left resizble selected_left">
						А-Я
					</div>
				</div>
			</div>
			<div class="order">
				<div class="outer">
					<div class="inner right resizble">
						Я-А
					</div>
				</div>
			</div>
		</div>
		<input class="p_input" type="text">
		<div class="search">
			<div class="outer">
				<div class="inner">
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="mb_2p"></div>
	<div class="row_center">
		<div class="friends_main">
			<div class="outer">
				<div class="inner">
					<div class="friends_row">
						<div class="friends_row_outer">
							<div class="friends_row_inner">
								<div class="f_item f_brd f_num resizble_2">№</div>
								<div class="f_item f_brd f_name resizble_2">Имя</div>
								<div class="f_item f_brd f_icon"><img src="asset/icons/3.png" class="f_icon3_img" /></div>
								<div class="f_item f_brd f_icon"><img src="asset/icons/2.png" class="f_icon2_img" /></div>
								<div class="f_item f_stn"><img src="asset/icons/1.png" class="f_icon1_img" /></div>
							</div>
						</div>
					</div>
					<div class="f_u_container scrolling">
						<div class="friends_row friends_row_item">
							<div class="friends_row_outer friends_row_outer_item">
								<div class="friends_row_inner">
									<div class="f_item f_brd f_num resizble_2">1</div>
									<div class="f_item f_brd f_name resizble_2">Fetal</div>
									<div class="f_item f_brd f_icon resizble_2">10</div>
									<div class="f_item f_brd f_icon resizble_2">45</div>
									<div class="f_item f_stn">
										<img src="asset/icons/6.png" class="f_icon6_img" />
										<img src="asset/icons/5.png" class="f_icon5_img" />
										<img src="asset/icons/4.png" class="f_icon4_img" />
									</div>
								</div>
							</div>
							<textarea class="f_txt"></textarea>
							<div class="chat_user_nav_button f_btn">
								<div class="chat_user_nav_button_outer">
									<div class="chat_user_nav_button_inner">
										<div class="text resizble">
											Оставить заметку
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="friends_row friends_row_item">
							<div class="friends_row_outer friends_row_outer_item">
								<div class="friends_row_inner">
									<div class="f_item f_brd f_num resizble_2">1</div>
									<div class="f_item f_brd f_name resizble_2">Fetal</div>
									<div class="f_item f_brd f_icon resizble_2">10</div>
									<div class="f_item f_brd f_icon resizble_2">45</div>
									<div class="f_item f_stn">
										<img src="asset/icons/6.png" class="f_icon6_img" />
										<img src="asset/icons/5.png" class="f_icon5_img" />
										<img src="asset/icons/4.png" class="f_icon4_img" />
									</div>
								</div>
							</div>
							<textarea class="f_txt"></textarea>
							<div class="chat_user_nav_button f_btn">
								<div class="chat_user_nav_button_outer">
									<div class="chat_user_nav_button_inner">
										<div class="text resizble">
											Оставить заметку
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="friends_row friends_row_item">
							<div class="friends_row_outer friends_row_outer_item">
								<div class="friends_row_inner">
									<div class="f_item f_brd f_num resizble_2">1</div>
									<div class="f_item f_brd f_name resizble_2">Fetal</div>
									<div class="f_item f_brd f_icon resizble_2">10</div>
									<div class="f_item f_brd f_icon resizble_2">45</div>
									<div class="f_item f_stn">
										<img src="asset/icons/6.png" class="f_icon6_img" />
										<img src="asset/icons/5.png" class="f_icon5_img" />
										<img src="asset/icons/4.png" class="f_icon4_img" />
									</div>
								</div>
							</div>
							<textarea class="f_txt"></textarea>
							<div class="chat_user_nav_button f_btn">
								<div class="chat_user_nav_button_outer">
									<div class="chat_user_nav_button_inner">
										<div class="text resizble">
											Оставить заметку
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="friends_row friends_row_item">
							<div class="friends_row_outer friends_row_outer_item">
								<div class="friends_row_inner">
									<div class="f_item f_brd f_num resizble_2">1</div>
									<div class="f_item f_brd f_name resizble_2">Fetal</div>
									<div class="f_item f_brd f_icon resizble_2">10</div>
									<div class="f_item f_brd f_icon resizble_2">45</div>
									<div class="f_item f_stn">
										<img src="asset/icons/6.png" class="f_icon6_img" />
										<img src="asset/icons/5.png" class="f_icon5_img" />
										<img src="asset/icons/4.png" class="f_icon4_img" />
									</div>
								</div>
							</div>
							<textarea class="f_txt"></textarea>
							<div class="chat_user_nav_button f_btn">
								<div class="chat_user_nav_button_outer">
									<div class="chat_user_nav_button_inner">
										<div class="text resizble">
											Оставить заметку
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="friends_row friends_row_item">
							<div class="friends_row_outer friends_row_outer_item">
								<div class="friends_row_inner">
									<div class="f_item f_brd f_num resizble_2">1</div>
									<div class="f_item f_brd f_name resizble_2">Fetal</div>
									<div class="f_item f_brd f_icon resizble_2">10</div>
									<div class="f_item f_brd f_icon resizble_2">45</div>
									<div class="f_item f_stn">
										<img src="asset/icons/6.png" class="f_icon6_img" />
										<img src="asset/icons/5.png" class="f_icon5_img" />
										<img src="asset/icons/4.png" class="f_icon4_img" />
									</div>
								</div>
							</div>
							<textarea class="f_txt"></textarea>
							<div class="chat_user_nav_button f_btn">
								<div class="chat_user_nav_button_outer">
									<div class="chat_user_nav_button_inner">
										<div class="text resizble">
											Оставить заметку
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="friends_row friends_row_item">
							<div class="friends_row_outer friends_row_outer_item">
								<div class="friends_row_inner">
									<div class="f_item f_brd f_num resizble_2">1</div>
									<div class="f_item f_brd f_name resizble_2">Fetal</div>
									<div class="f_item f_brd f_icon resizble_2">10</div>
									<div class="f_item f_brd f_icon resizble_2">45</div>
									<div class="f_item f_stn">
										<img src="asset/icons/6.png" class="f_icon6_img" />
										<img src="asset/icons/5.png" class="f_icon5_img" />
										<img src="asset/icons/4.png" class="f_icon4_img" />
									</div>
								</div>
							</div>
							<textarea class="f_txt"></textarea>
							<div class="chat_user_nav_button f_btn">
								<div class="chat_user_nav_button_outer">
									<div class="chat_user_nav_button_inner">
										<div class="text resizble">
											Оставить заметку
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="friends_row friends_row_item">
							<div class="friends_row_outer friends_row_outer_item">
								<div class="friends_row_inner">
									<div class="f_item f_brd f_num resizble_2">1</div>
									<div class="f_item f_brd f_name resizble_2">Fetal</div>
									<div class="f_item f_brd f_icon resizble_2">10</div>
									<div class="f_item f_brd f_icon resizble_2">45</div>
									<div class="f_item f_stn">
										<img src="asset/icons/6.png" class="f_icon6_img" />
										<img src="asset/icons/5.png" class="f_icon5_img" />
										<img src="asset/icons/4.png" class="f_icon4_img" />
									</div>
								</div>
							</div>
							<textarea class="f_txt"></textarea>
							<div class="chat_user_nav_button f_btn">
								<div class="chat_user_nav_button_outer">
									<div class="chat_user_nav_button_inner">
										<div class="text resizble">
											Оставить заметку
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="friends_row friends_row_item">
							<div class="friends_row_outer friends_row_outer_item">
								<div class="friends_row_inner">
									<div class="f_item f_brd f_num resizble_2">1</div>
									<div class="f_item f_brd f_name resizble_2">Fetal</div>
									<div class="f_item f_brd f_icon resizble_2">10</div>
									<div class="f_item f_brd f_icon resizble_2">45</div>
									<div class="f_item f_stn">
										<img src="asset/icons/6.png" class="f_icon6_img" />
										<img src="asset/icons/5.png" class="f_icon5_img" />
										<img src="asset/icons/4.png" class="f_icon4_img" />
									</div>
								</div>
							</div>
							<textarea class="f_txt"></textarea>
							<div class="chat_user_nav_button f_btn">
								<div class="chat_user_nav_button_outer">
									<div class="chat_user_nav_button_inner">
										<div class="text resizble">
											Оставить заметку
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="friends_row friends_row_item">
							<div class="friends_row_outer friends_row_outer_item">
								<div class="friends_row_inner">
									<div class="f_item f_brd f_num resizble_2">1</div>
									<div class="f_item f_brd f_name resizble_2">Fetal</div>
									<div class="f_item f_brd f_icon resizble_2">10</div>
									<div class="f_item f_brd f_icon resizble_2">45</div>
									<div class="f_item f_stn">
										<img src="asset/icons/6.png" class="f_icon6_img" />
										<img src="asset/icons/5.png" class="f_icon5_img" />
										<img src="asset/icons/4.png" class="f_icon4_img" />
									</div>
								</div>
							</div>
							<textarea class="f_txt"></textarea>
							<div class="chat_user_nav_button f_btn">
								<div class="chat_user_nav_button_outer">
									<div class="chat_user_nav_button_inner">
										<div class="text resizble">
											Оставить заметку
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="friends_row friends_row_item">
							<div class="friends_row_outer friends_row_outer_item">
								<div class="friends_row_inner">
									<div class="f_item f_brd f_num resizble_2">1</div>
									<div class="f_item f_brd f_name resizble_2">Fetal</div>
									<div class="f_item f_brd f_icon resizble_2">10</div>
									<div class="f_item f_brd f_icon resizble_2">45</div>
									<div class="f_item f_stn">
										<img src="asset/icons/6.png" class="f_icon6_img" />
										<img src="asset/icons/5.png" class="f_icon5_img" />
										<img src="asset/icons/4.png" class="f_icon4_img" />
									</div>
								</div>
							</div>
							<textarea class="f_txt"></textarea>
							<div class="chat_user_nav_button f_btn">
								<div class="chat_user_nav_button_outer">
									<div class="chat_user_nav_button_inner">
										<div class="text resizble">
											Оставить заметку
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="friends_row friends_row_item">
							<div class="friends_row_outer friends_row_outer_item">
								<div class="friends_row_inner">
									<div class="f_item f_brd f_num resizble_2">1</div>
									<div class="f_item f_brd f_name resizble_2">Fetal</div>
									<div class="f_item f_brd f_icon resizble_2">10</div>
									<div class="f_item f_brd f_icon resizble_2">45</div>
									<div class="f_item f_stn">
										<img src="asset/icons/6.png" class="f_icon6_img" />
										<img src="asset/icons/5.png" class="f_icon5_img" />
										<img src="asset/icons/4.png" class="f_icon4_img" />
									</div>
								</div>
							</div>
							<textarea class="f_txt"></textarea>
							<div class="chat_user_nav_button f_btn">
								<div class="chat_user_nav_button_outer">
									<div class="chat_user_nav_button_inner">
										<div class="text resizble">
											Оставить заметку
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="friends_row friends_row_item">
							<div class="friends_row_outer friends_row_outer_item">
								<div class="friends_row_inner">
									<div class="f_item f_brd f_num resizble_2">1</div>
									<div class="f_item f_brd f_name resizble_2">Fetal</div>
									<div class="f_item f_brd f_icon resizble_2">10</div>
									<div class="f_item f_brd f_icon resizble_2">45</div>
									<div class="f_item f_stn">
										<img src="asset/icons/6.png" class="f_icon6_img" />
										<img src="asset/icons/5.png" class="f_icon5_img" />
										<img src="asset/icons/4.png" class="f_icon4_img" />
									</div>
								</div>
							</div>
							<textarea class="f_txt"></textarea>
							<div class="chat_user_nav_button f_btn">
								<div class="chat_user_nav_button_outer">
									<div class="chat_user_nav_button_inner">
										<div class="text resizble">
											Оставить заметку
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="mb_3p"></div>
	<div class="row_center">
		<a href="#" class="button">
			<div class="button_outer on">
				<div class="button_inner resizble">
					Добавить друга
				</div>
			</div>
		</a>
		<a href="#" class="button">
			<div class="button_outer on">
				<div class="button_inner resizble_2">
				</div>
			</div>
		</a>
		<a href="#" class="button">
			<div class="button_outer on">
				<div class="button_inner resizble_2">
				</div>
			</div>
		</a>
	</div>
</div>