<div class="popup_container">
	<div class="row_center">
		<div class="about">
			<div class="outer">
				<div class="inner">
					<div class="title">
						<div class="title_outer">
							<div class="title_inner resizble">
								О себе
							</div>
						</div>
					</div>
					<div class="text resizble_long">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					</div>
				</div>
			</div>
		</div>			
		<div class="avatar_big">
			<div class="outer" style="background-image: url(asset/game/avatars/avatar_demon_male.png);">
				<div class="inner">
					<div class="slug resizble">Et Ego Te!</div>
					<div class="p_rating resizble">Рейтинг</div>
					<div class="p_state resizble">Уровень</div>
					<div class="p_rating_c resizble">53</div>
					<div class="p_state_c resizble">47</div>
				</div>
			</div>
		</div>
		<div class="personal">
			<div class="outer">
				<div class="inner">
					<div class="title">
						<div class="title_outer">
							<div class="title_inner resizble">
								Сведения
							</div>
						</div>
					</div>
					<div class="text resizble_long">
						<div>Имя: <span>Данил</span></div>
						<div>Дата рождения: <span>01.02.89</span></div>
						<div>Город: <span>Москва</span></div>
						<div>Регистрация: <span>15.06.2015</span></div>
						<div>Побед: <span>123</span></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="row_center">
		<div class="gen">
			<div class="outer">
				<div class="inner">
					<div class="title">
						<div class="title_outer">
							<div class="title_inner resizble">
								Генералы
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="mb_1p"></div>
					<div class="p_general">
						<div class="p_general_outer" style="background-image: url(asset/game/generals/icons/artox.png);">
							<div class="p_general_inner">
								<div class="text resizble_long">
									Артокс<br/>
									<span>ур: <span>21</span></span>
								</div>
							</div>
						</div>
					</div>
					<div class="p_general">
						<div class="p_general_outer" style="background-image: url(asset/game/generals/icons/aelaniya.png);">
							<div class="p_general_inner">
								<div class="text resizble_long">
									Аэлания<br/>
									<span>ур: <span>21</span></span>
								</div>
							</div>
						</div>
					</div>
					<div class="p_general">
						<div class="p_general_outer" style="background-image: url(asset/game/generals/icons/martimor.png);">
							<div class="p_general_inner">
								<div class="text resizble_long">
									Мартимор<br/>
									<span>ур: <span>21</span></span>
								</div>
							</div>
						</div>
					</div>
					<div class="p_general">
						<div class="p_general_outer" style="background-image: url(asset/game/generals/icons/maili.png);">
							<div class="p_general_inner">
								<div class="text resizble_long">
									Майли<br/>
									<span>ур: <span>21</span></span>
								</div>
							</div>
						</div>
					</div>
					<div class="p_general">
						<div class="p_general_outer" style="background-image: url(asset/game/generals/icons/grialot.png);">
							<div class="p_general_inner">
								<div class="text resizble_long">
									Гриалот<br/>
									<span>ур: <span>21</span></span>
								</div>
							</div>
						</div>
					</div>
					<div class="p_general">
						<div class="p_general_outer" style="background-image: url(asset/game/generals/icons/ikhtianda.png);">
							<div class="p_general_inner">
								<div class="text resizble_long">
									Ихтианда<br/>
									<span>ур: <span>21</span></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>			
		<div class="control">
			<div class="outer">
				<div class="inner">
					<a href="#" class="p_button">
						<div class="p_button_outer on">
							<div class="p_button_inner resizble">
								Написать сообщение
							</div>
						</div>
					</a>
					<a href="#" class="p_button">
						<div class="p_button_outer on">
							<div class="p_button_inner resizble">
								Найти сообщение
							</div>
						</div>
					</a>
					<a href="#" class="p_button">
						<div class="p_button_outer on">
							<div class="p_button_inner resizble">
								Вызвать на дуэль
							</div>
						</div>
					</a>
					<a href="#" class="p_button">
						<div class="p_button_outer on">
							<div class="p_button_inner resizble">
								Добавить в друзья
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
		<div class="arch">
			<div class="outer">
				<div class="inner scrolling">
					<div class="content">
						<div class="title">
							<div class="title_outer">
								<div class="title_inner resizble">
									Достижения
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="mb_1p"></div>
						<div class="p_archivment">
							<div class="p_archivment_outer">
								<div class="p_archivment_inner">
								</div>
							</div>
						</div>
						<div class="p_archivment">
							<div class="p_archivment_outer">
								<div class="p_archivment_inner">
								</div>
							</div>
						</div>
						<div class="p_archivment">
							<div class="p_archivment_outer">
								<div class="p_archivment_inner">
								</div>
							</div>
						</div>
						<div class="p_archivment">
							<div class="p_archivment_outer">
								<div class="p_archivment_inner">
								</div>
							</div>
						</div>
						<div class="p_archivment">
							<div class="p_archivment_outer">
								<div class="p_archivment_inner">
								</div>
							</div>
						</div>
						<div class="p_archivment">
							<div class="p_archivment_outer">
								<div class="p_archivment_inner">
								</div>
							</div>
						</div>
						<div class="p_archivment">
							<div class="p_archivment_outer">
								<div class="p_archivment_inner">
								</div>
							</div>
						</div>
						<div class="p_archivment">
							<div class="p_archivment_outer">
								<div class="p_archivment_inner">
								</div>
							</div>
						</div>
						<div class="p_archivment">
							<div class="p_archivment_outer">
								<div class="p_archivment_inner">
								</div>
							</div>
						</div>
						<div class="p_archivment">
							<div class="p_archivment_outer">
								<div class="p_archivment_inner">
								</div>
							</div>
						</div>
						<div class="p_archivment">
							<div class="p_archivment_outer">
								<div class="p_archivment_inner">
								</div>
							</div>
						</div>
						<div class="p_archivment">
							<div class="p_archivment_outer">
								<div class="p_archivment_inner">
								</div>
							</div>
						</div>
						<div class="p_archivment">
							<div class="p_archivment_outer">
								<div class="p_archivment_inner">
								</div>
							</div>
						</div>
						<div class="p_archivment">
							<div class="p_archivment_outer">
								<div class="p_archivment_inner">
								</div>
							</div>
						</div>
						<div class="p_archivment">
							<div class="p_archivment_outer">
								<div class="p_archivment_inner">
								</div>
							</div>
						</div>
						<div class="p_archivment">
							<div class="p_archivment_outer">
								<div class="p_archivment_inner">
								</div>
							</div>
						</div>
						<div class="p_archivment">
							<div class="p_archivment_outer">
								<div class="p_archivment_inner">
								</div>
							</div>
						</div>
						<div class="p_archivment">
							<div class="p_archivment_outer">
								<div class="p_archivment_inner">
								</div>
							</div>
						</div>
						<div class="p_archivment">
							<div class="p_archivment_outer">
								<div class="p_archivment_inner">
								</div>
							</div>
						</div>
						<div class="p_archivment">
							<div class="p_archivment_outer">
								<div class="p_archivment_inner">
								</div>
							</div>
						</div>
						<div class="p_archivment">
							<div class="p_archivment_outer">
								<div class="p_archivment_inner">
								</div>
							</div>
						</div>
						<div class="p_archivment">
							<div class="p_archivment_outer">
								<div class="p_archivment_inner">
								</div>
							</div>
						</div>
						<div class="p_archivment">
							<div class="p_archivment_outer">
								<div class="p_archivment_inner">
								</div>
							</div>
						</div>
						<div class="p_archivment">
							<div class="p_archivment_outer">
								<div class="p_archivment_inner">
								</div>
							</div>
						</div>
						<div class="p_archivment">
							<div class="p_archivment_outer">
								<div class="p_archivment_inner">
								</div>
							</div>
						</div>
						<div class="p_archivment">
							<div class="p_archivment_outer">
								<div class="p_archivment_inner">
								</div>
							</div>
						</div>
						<div class="p_archivment">
							<div class="p_archivment_outer">
								<div class="p_archivment_inner">
								</div>
							</div>
						</div>
						<div class="p_archivment">
							<div class="p_archivment_outer">
								<div class="p_archivment_inner">
								</div>
							</div>
						</div>
						<div class="p_archivment">
							<div class="p_archivment_outer">
								<div class="p_archivment_inner">
								</div>
							</div>
						</div>
						<div class="p_archivment">
							<div class="p_archivment_outer">
								<div class="p_archivment_inner">
								</div>
							</div>
						</div>
						<div class="p_archivment">
							<div class="p_archivment_outer">
								<div class="p_archivment_inner">
								</div>
							</div>
						</div>
						<div class="p_archivment">
							<div class="p_archivment_outer">
								<div class="p_archivment_inner">
								</div>
							</div>
						</div>
						<div class="p_archivment">
							<div class="p_archivment_outer">
								<div class="p_archivment_inner">
								</div>
							</div>
						</div>
						<div class="p_archivment">
							<div class="p_archivment_outer">
								<div class="p_archivment_inner">
								</div>
							</div>
						</div>
						<div class="p_archivment">
							<div class="p_archivment_outer">
								<div class="p_archivment_inner">
								</div>
							</div>
						</div>
						<div class="p_archivment">
							<div class="p_archivment_outer">
								<div class="p_archivment_inner">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>