<div class="popup_container_middle">
	<div class="row p_title">
		<div class="title">
			<div class="title_outer">
				<div class="title_inner resizble">
					Полководцы
				</div>
			</div>
		</div>
	</div>
	<div class="row cntrl">
		<a href="#" class="p_button">
			<div class="p_button_outer on">
				<div class="p_button_inner resizble" style="font-size: 20px; line-height: 50px;">
					Смена портрета
				</div>
			</div>
		</a>
		<a href="#" class="p_button">
			<div class="p_button_outer on">
				<div class="p_button_inner resizble" style="font-size: 20px; line-height: 50px;">
					Таблица опыта
				</div>
			</div>
		</a>
	</div>
	<div class="row_center">
		<div class="d_blocks s_blocks">
			<div class="outer">
				<div class="inner">
					<div class="s_block_top">
						<div class="s_block_top_outer">
							<div class="s_block_top_inner resizble_long_f">
								<img src="asset/game/generals/ability/general-button-fire1.png" />
								<div class="text resizble_long">
									Замораживает выбранное существо противника на 1 ход.<br/>Стоимость – 2 единицы энергии.<br/><br/>Доступно на 3-м уровне копия
								</div>
							</div>
						</div>
					</div>
					<div class="options_block">
						<div class="options_block_outer">
							<div class="options_block_inner scrolling">
								<div class="content">
									<div class="s_item">
										<div class="s_item_left">
											<div class="s_item_left_outer">
												<div class="s_item_left_inner">
												</div>
											</div>
										</div>
										<div class="s_item_right">
											<div class="s_item_right_outer">
												<div class="s_item_right_inner">
													<div class="text resizble_long">
														Замораживает выбранное существо противника на 1 ход.<br/>Стоимость – 2 единицы энергии.<br/><br/>Доступно на 3-м уровне копия
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="s_item">
										<div class="s_item_left">
											<div class="s_item_left_outer">
												<div class="s_item_left_inner">
												</div>
											</div>
										</div>
										<div class="s_item_right">
											<div class="s_item_right_outer">
												<div class="s_item_right_inner">
													<div class="text resizble_long">
														Замораживает выбранное существо противника на 1 ход.<br/>Стоимость – 2 единицы энергии.<br/><br/>Доступно на 3-м уровне копия
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="s_item">
										<div class="s_item_left">
											<div class="s_item_left_outer">
												<div class="s_item_left_inner">
												</div>
											</div>
										</div>
										<div class="s_item_right">
											<div class="s_item_right_outer">
												<div class="s_item_right_inner">
													<div class="text resizble_long">
														Замораживает выбранное существо противника на 1 ход.<br/>Стоимость – 2 единицы энергии.<br/><br/>Доступно на 3-м уровне копия
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="s_item">
										<div class="s_item_left">
											<div class="s_item_left_outer">
												<div class="s_item_left_inner">
												</div>
											</div>
										</div>
										<div class="s_item_right">
											<div class="s_item_right_outer">
												<div class="s_item_right_inner">
													<div class="text resizble_long">
														Замораживает выбранное существо противника на 1 ход.<br/>Стоимость – 2 единицы энергии.<br/><br/>Доступно на 3-м уровне копия
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="s_item">
										<div class="s_item_left">
											<div class="s_item_left_outer">
												<div class="s_item_left_inner">
												</div>
											</div>
										</div>
										<div class="s_item_right">
											<div class="s_item_right_outer">
												<div class="s_item_right_inner">
													<div class="text resizble_long">
														Замораживает выбранное существо противника на 1 ход.<br/>Стоимость – 2 единицы энергии.<br/><br/>Доступно на 3-м уровне копия
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="s_item">
										<div class="s_item_left">
											<div class="s_item_left_outer">
												<div class="s_item_left_inner">
												</div>
											</div>
										</div>
										<div class="s_item_right">
											<div class="s_item_right_outer">
												<div class="s_item_right_inner">
													<div class="text resizble_long">
														Замораживает выбранное существо противника на 1 ход.<br/>Стоимость – 2 единицы энергии.<br/><br/>Доступно на 3-м уровне копия
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="s_item">
										<div class="s_item_left">
											<div class="s_item_left_outer">
												<div class="s_item_left_inner">
												</div>
											</div>
										</div>
										<div class="s_item_right">
											<div class="s_item_right_outer">
												<div class="s_item_right_inner">
													<div class="text resizble_long">
														Замораживает выбранное существо противника на 1 ход.<br/>Стоимость – 2 единицы энергии.<br/><br/>Доступно на 3-м уровне копия
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="s_block_bottom">
						<div class="s_block_bottom_outer">
							<div class="s_block_bottom_inner resizble">
								Выбрать
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="d_blocks s_blocks p_m">
			<div class="outer">
				<div class="inner">
					<div class="p_l_avatar">
						<div class="p_l_avatar_outer" style="background-image: url(asset/game/avatars/avatar_demon_male.png);">
							<div class="p_l_avatar_inner">
								<div class="p_r_up resizble">Повысить уровень за 100 <img class="p_l_c" src="asset/coin.png" /></div>
								<div class="p_l_games resizble">Кол-во игр</div>
								<div class="p_l_state resizble">Уровень</div>
								<div class="p_l_games_c resizble">53</div>
								<div class="p_l_state_c resizble">47</div>
							</div>
						</div>
					</div>
					<div class="row_center">
							<div class="s_arrow d_blocks">
								<div class="s_arrow_outer">
									<div class="s_arrow_inner left">
									</div>
								</div>
							</div>
							<div class="sorrow d_blocks">
								<div class="sorrow_outer">
									<div class="sorrow_inner">
										<div class="text resizble">
											4
										</div>
									</div>
								</div>
							</div>
							<div class="s_arrow d_blocks p_s_r_m">
								<div class="s_arrow_outer">
									<div class="s_arrow_inner right">
									</div>
								</div>
							</div>

							<div class="s_arrow d_blocks p_s_l_m">
								<div class="s_arrow_outer">
									<div class="s_arrow_inner left">
									</div>
								</div>
							</div>
							<div class="shield d_blocks">
								<div class="shield_outer">
									<div class="shield_inner">
										<div class="text resizble">
											6
										</div>
									</div>
								</div>
							</div>
							<div class="s_arrow d_blocks">
								<div class="s_arrow_outer">
									<div class="s_arrow_inner right">
									</div>
								</div>
							</div>

					</div>
					<div class="row_center d_main">
						<div class="p_l_cnt">
							<div class="p_l_cnt_outer">
								<div class="p_l_cnt_inner">
									<div class="text resizble">
										3
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="mb_3_5p"></div>
					<a href="#" class="p_button">
						<div class="p_button_outer on">
							<div class="p_button_inner resizble" style="font-size: 20px; line-height: 50px;">
								Сохранить изменения
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
		<div class="d_blocks s_blocks">
			<div class="outer">
				<div class="inner">
					<div class="s_block_top">
						<div class="s_block_top_outer">
							<div class="s_block_top_inner">
								<div class="text resizble_long">
									Каждая смерть на поле боя добавляет  1 кристалл к стоимости.<br/>Стоимость – 5 кристаллов.<br/><br/>Доступно на 3-м уровне копия
								</div>
							</div>
						</div>
					</div>
					<div class="options_block">
						<div class="options_block_outer">
							<div class="options_block_inner scrolling">
								<div class="content">
									<div class="s_item full">
										<div class="s_item_right">
											<div class="s_item_right_outer">
												<div class="s_item_right_inner">
													<div class="text resizble_long">
														Каждая смерть на поле боя добавляет  1 кристалл к стоимости.<br/>Стоимость – 5 кристаллов.<br/><br/>Доступно на 3-м уровне копия
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="s_item full">
										<div class="s_item_right">
											<div class="s_item_right_outer">
												<div class="s_item_right_inner">
													<div class="text resizble_long">
														Каждая смерть на поле боя добавляет  1 кристалл к стоимости.<br/>Стоимость – 5 кристаллов.<br/><br/>Доступно на 3-м уровне копия
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="s_item full">
										<div class="s_item_right">
											<div class="s_item_right_outer">
												<div class="s_item_right_inner">
													<div class="text resizble_long">
														Каждая смерть на поле боя добавляет  1 кристалл к стоимости.<br/>Стоимость – 5 кристаллов.<br/><br/>Доступно на 3-м уровне копия
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="s_item full">
										<div class="s_item_right">
											<div class="s_item_right_outer">
												<div class="s_item_right_inner">
													<div class="text resizble_long">
														Каждая смерть на поле боя добавляет  1 кристалл к стоимости.<br/>Стоимость – 5 кристаллов.<br/><br/>Доступно на 3-м уровне копия
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="s_item full">
										<div class="s_item_right">
											<div class="s_item_right_outer">
												<div class="s_item_right_inner">
													<div class="text resizble_long">
														Каждая смерть на поле боя добавляет  1 кристалл к стоимости.<br/>Стоимость – 5 кристаллов.<br/><br/>Доступно на 3-м уровне копия
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="s_item full">
										<div class="s_item_right">
											<div class="s_item_right_outer">
												<div class="s_item_right_inner">
													<div class="text resizble_long">
														Каждая смерть на поле боя добавляет  1 кристалл к стоимости.<br/>Стоимость – 5 кристаллов.<br/><br/>Доступно на 3-м уровне копия
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="s_item full">
										<div class="s_item_right">
											<div class="s_item_right_outer">
												<div class="s_item_right_inner">
													<div class="text resizble_long">
														Каждая смерть на поле боя добавляет  1 кристалл к стоимости.<br/>Стоимость – 5 кристаллов.<br/><br/>Доступно на 3-м уровне копия
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="s_block_bottom">
						<div class="s_block_bottom_outer">
							<div class="s_block_bottom_inner resizble">
								Выбрать
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>