<div class="popup_container_small">
	<div class="clearfix"></div>
	<div class="mb_3_5p"></div>
	<div class="row_center">
		<div class="m_menu">
			<div class="game_menu_arrow">
				<div class="game_menu_arrow_outer">
					<div class="game_menu_arrow_inner left">
					</div>
				</div>
			</div>
			<div class="game_menu">
				<div class="game_menu_outer">
					<div class="game_menu_inner">
						<div class="middle_button">
							<a href="#" class="middle_button_outer">
								<div class="middle_button_inner">
									<div class="text resizble">
										Общие
									</div>
								</div>
							</a>
						</div>
						<div class="middle_button">
							<a href="#" class="middle_button_outer">
								<div class="middle_button_inner">
									<div class="text resizble">
										Графика
									</div>
								</div>
							</a>
						</div>
						<div class="middle_button">
							<a href="#" class="middle_button_outer">
								<div class="middle_button_inner">
									<div class="text resizble">
										Звук
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="game_menu_arrow">
				<div class="game_menu_arrow_outer">
					<div class="game_menu_arrow_inner right">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="mb_3_5p"></div>
	<div class="row_center d_main">
		<div class="d_blocks s_blocks avatars">
			<div class="outer">
				<div class="inner">
					<div class="title">
						<div class="title_outer">
							<div class="title_inner resizble">
								Аватарки
							</div>
						</div>
					</div>
					<div class="s_avatar">
						<div class="s_avatar_outer">
							<div class="s_avatar_inner">
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="mb_6p"></div>
					<div class="row_center d_p">
						<div class="avatar_slider_arrow">
							<div class="avatar_slider_arrow_outer">
								<div class="avatar_slider_arrow_inner left">
								</div>
							</div>
						</div>
						<div class="avatar_conteiner">
							<div class="avatar_conteiner_outer">
								<div class="avatar_conteiner_inner">
									<div class="avatar_item">
										<div class="avatar_item_outer" style="background-image: url(asset/game/avatars/avatar_mermaid_female.png);">
											<div class="avatar_item_inner">
											</div>
										</div>
									</div>
									<div class="avatar_item">
										<div class="avatar_item_outer" style="background-image: url(asset/game/avatars/avatar_demon_female.png);">
											<div class="avatar_item_inner" style="opacity: 0;">
											</div>
										</div>
									</div>
									<div class="avatar_item">
										<div class="avatar_item_outer" style="background-image: url(asset/game/avatars/druid-m.jpg);">
											<div class="avatar_item_inner">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="avatar_slider_arrow">
							<div class="avatar_slider_arrow_outer">
								<div class="avatar_slider_arrow_inner right">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="d_blocks s_blocks settings">
			<div class="outer">
				<div class="inner">
					<div class="title">
						<div class="title_outer">
							<div class="title_inner resizble">
								Настройки
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="mb_6p"></div>
					<div class="row_center d_main settings_control">
						<input type="checkbox" class="checkbox" id="sound" /><label for="sound" class="label"><div class="label_outer"><div class="label_inner"></div></div></label>
						<input type="checkbox" class="checkbox" id="music" /><label for="music" class="label"><div class="label_outer"><div class="label_inner"></div></div></label>
					</div>
					<div class="clearfix"></div>
					<div class="row_center d_main sound_control">
						<div class="sound_bar">
							<div class="sound_bar_outer">
								<div class="sound_bar_inner">
									<input type="range" class="range" min="0" max="100" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="d_blocks s_blocks shirts">
			<div class="outer">
				<div class="inner">
					<div class="title">
						<div class="title_outer">
							<div class="title_inner resizble">
								Рубашки
							</div>
						</div>
					</div>
					<div class="s_shirt">
						<div class="s_shirt_outer">
							<div class="s_shirt_inner">
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="mb_6p"></div>
					<div class="row_center d_p_l">
						<div class="avatar_slider_arrow">
							<div class="avatar_slider_arrow_outer">
								<div class="avatar_slider_arrow_inner left">
								</div>
							</div>
						</div>
						<div class="avatar_conteiner">
							<div class="avatar_conteiner_outer">
								<div class="avatar_conteiner_inner">
									<div class="avatar_item">
										<div class="avatar_item_outer" style="background-image: url(asset/game/shirts/casing5.png);">
											<div class="avatar_item_inner">
											</div>
										</div>
									</div>
									<div class="avatar_item">
										<div class="avatar_item_outer" style="background-image: url(asset/game/shirts/casing5-.png);">
											<div class="avatar_item_inner" style="opacity: 0;">
											</div>
										</div>
									</div>
									<div class="avatar_item">
										<div class="avatar_item_outer" style="background-image: url(asset/game/shirts/casing6.png);">
											<div class="avatar_item_inner">
											</div>
										</div>
									</div>
									<div class="avatar_item">
										<div class="avatar_item_outer" style="background-image: url(asset/game/shirts/casing15.png);">
											<div class="avatar_item_inner">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="avatar_slider_arrow">
							<div class="avatar_slider_arrow_outer">
								<div class="avatar_slider_arrow_inner right">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="mb_1p"></div>
	<div class="row_center">
		<a href="#" class="p_button">
			<div class="p_button_outer on">
				<div class="p_button_inner resizble" style="font-size: 20px; line-height: 50px;">
					Сохранить изменения
				</div>
			</div>
		</a>
	</div>
</div>