<div class="popup_container_small">
	<div class="row_center d_main sp_main">
		<div class="d_blocks sp_select">
			<div class="outer">
				<div class="inner scrolling">
					<div class="content">
						<div class="s_item">
							<div class="s_item_left">
								<div class="s_item_left_outer">
									<div class="s_item_left_inner" style="background-image: url(asset/game/shirts/casing5-.png);">
									</div>
								</div>
							</div>
							<div class="s_item_right">
								<div class="s_item_right_outer">
									<div class="s_item_right_inner">
										<div class="text resizble">
											Тихий лес
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="s_item">
							<div class="s_item_left">
								<div class="s_item_left_outer">
									<div class="s_item_left_inner" style="background-image: url(asset/game/shirts/casing5-.png);">
									</div>
								</div>
							</div>
							<div class="s_item_right">
								<div class="s_item_right_outer">
									<div class="s_item_right_inner">
										<div class="text resizble">
											Тихий лес
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="s_item">
							<div class="s_item_left">
								<div class="s_item_left_outer">
									<div class="s_item_left_inner" style="background-image: url(asset/game/shirts/casing5-.png);">
									</div>
								</div>
							</div>
							<div class="s_item_right">
								<div class="s_item_right_outer">
									<div class="s_item_right_inner">
										<div class="text resizble">
											Тихий лес
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="s_item">
							<div class="s_item_left">
								<div class="s_item_left_outer">
									<div class="s_item_left_inner" style="background-image: url(asset/game/shirts/casing5-.png);">
									</div>
								</div>
							</div>
							<div class="s_item_right">
								<div class="s_item_right_outer">
									<div class="s_item_right_inner">
										<div class="text resizble">
											Тихий лес
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="s_item">
							<div class="s_item_left">
								<div class="s_item_left_outer">
									<div class="s_item_left_inner" style="background-image: url(asset/game/shirts/casing5-.png);">
									</div>
								</div>
							</div>
							<div class="s_item_right">
								<div class="s_item_right_outer">
									<div class="s_item_right_inner">
										<div class="text resizble">
											Тихий лес
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="s_item">
							<div class="s_item_left">
								<div class="s_item_left_outer">
									<div class="s_item_left_inner" style="background-image: url(asset/game/shirts/casing5-.png);">
									</div>
								</div>
							</div>
							<div class="s_item_right">
								<div class="s_item_right_outer">
									<div class="s_item_right_inner">
										<div class="text resizble">
											Тихий лес
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="s_item">
							<div class="s_item_left">
								<div class="s_item_left_outer">
									<div class="s_item_left_inner" style="background-image: url(asset/game/shirts/casing5-.png);">
									</div>
								</div>
							</div>
							<div class="s_item_right">
								<div class="s_item_right_outer">
									<div class="s_item_right_inner">
										<div class="text resizble">
											Тихий лес
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="s_item">
							<div class="s_item_left">
								<div class="s_item_left_outer">
									<div class="s_item_left_inner" style="background-image: url(asset/game/shirts/casing5-.png);">
									</div>
								</div>
							</div>
							<div class="s_item_right">
								<div class="s_item_right_outer">
									<div class="s_item_right_inner">
										<div class="text resizble">
											Тихий лес
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="s_item">
							<div class="s_item_left">
								<div class="s_item_left_outer">
									<div class="s_item_left_inner" style="background-image: url(asset/game/shirts/casing5-.png);">
									</div>
								</div>
							</div>
							<div class="s_item_right">
								<div class="s_item_right_outer">
									<div class="s_item_right_inner">
										<div class="text resizble">
											Тихий лес
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="s_item">
							<div class="s_item_left">
								<div class="s_item_left_outer">
									<div class="s_item_left_inner" style="background-image: url(asset/game/shirts/casing5-.png);">
									</div>
								</div>
							</div>
							<div class="s_item_right">
								<div class="s_item_right_outer">
									<div class="s_item_right_inner">
										<div class="text resizble">
											Тихий лес
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="s_item">
							<div class="s_item_left">
								<div class="s_item_left_outer">
									<div class="s_item_left_inner" style="background-image: url(asset/game/shirts/casing5-.png);" style="background-image: url(asset/game/shirts/casing5-.png);">
									</div>
								</div>
							</div>
							<div class="s_item_right">
								<div class="s_item_right_outer">
									<div class="s_item_right_inner">
										<div class="text resizble">
											Тихий лес
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="d_blocks sp_s_main">
			<div class="outer">
				<div class="inner">
					<div class="sp_menu">
						<div class="sp_menu_outer">
							<div class="sp_menu_inner">
								<div class="sp_menu_button">
									<div class="sp_menu_button_outer">
										<div class="sp_menu_button_inner resizble">
											Рубашки
										</div>
									</div>
								</div>
								<div class="sp_menu_button">
									<div class="sp_menu_button_outer">
										<div class="sp_menu_button_inner resizble">
											Комплекты карт
										</div>
									</div>
								</div>
								<div class="sp_menu_button">
									<div class="sp_menu_button_outer">
										<div class="sp_menu_button_inner resizble">
											Аватарки
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="sp_cnt">
						<div class="sp_cnt_outer">
							<div class="sp_cnt_inner">
								<a href="#" class="arrow d_blocks">
									<div class="outer">
										<div class="inner left">
										</div>
									</div>
								</a>
								<div class="sp_item d_blocks">
									<div class="sp_item_outer">
										<div class="sp_item_inner">
										</div>
									</div>
								</div>
								<a href="#" class="arrow d_blocks">
									<div class="outer">
										<div class="inner right">
										</div>
									</div>
								</a>
								<div class="title">
									<div class="title_outer">
										<div class="title_inner resizble">
											Тихий лес
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="sp_cnt_left">
						<div class="sp_cnt_left_outer">
							<div class="sp_cnt_left_inner">
								<div class="title">
									<div class="title_outer">
										<div class="title_inner resizble">
											Корзина
										</div>
									</div>
								</div>
								<div class="clearfix"></div>
								<div class="sp_coins sp_coins_left">
									<div class="sp_coins_outer">
										<div class="sp_coins_inner left">
											<div class="text resizble">
												9999
											</div>
										</div>
									</div>
								</div>
								<div class="sp_coins sp_coins_right">
									<div class="sp_coins_outer">
										<div class="sp_coins_inner right">
											<div class="text resizble">
												9999
											</div>
										</div>
									</div>
								</div>
								<div class="clearfix"></div>
								<div class="mb_10p"></div>
								<div class="s_item">
									<div class="s_item_left">
										<div class="s_item_left_outer">
											<div class="s_item_left_inner" style="background-image: url(asset/game/shirts/casing5-.png);" style="background-image: url(asset/game/shirts/casing5-.png);">
											</div>
										</div>
									</div>
									<div class="s_item_right">
										<div class="s_item_right_outer">
											<div class="sp_price s_item_right_inner">
												<div class="text_top resizble">Комплекты:1</div>
												<div class="price resizble">
													<div class="price_item">165 <img class="coin price_img" src="asset/coin_gold.png" /></div>
													<div class="price_item">330 <img class="coin price_img" src="asset/coin.png" /></div>
													<div class="price_item">250 <img class="r price_img" src="asset/r.png" /></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="sp_cnt_bottom">
						<div class="sp_cnt_bottom_outer">
							<div class="sp_cnt_bottom_inner">
								<a href="#" class="sp_title_arrow sp_left">
									<div class="sp_title_arrow_outer">
										<div class="sp_title_arrow_inner left">
										</div>
									</div>
								</a>
								<div class="sp_title ">
									<div class="sp_title_outer">
										<div class="sp_title_inner sp_price">
											<div class="text_top resizble">Комплекты:1</div>
											<div class="price price_t resizble">
												<div class="price_item">165 <img class="coin price_img" src="asset/coin_gold.png" /></div>
												<div class="price_item">330 <img class="coin price_img" src="asset/coin.png" /></div>
												<div class="price_item">250 <img class="r price_img" src="asset/r.png" /></div>
											</div>
										</div>
									</div>
								</div>
								<a href="#" class="sp_title_arrow  sp_right">
									<div class="sp_title_arrow_outer">
										<div class="sp_title_arrow_inner right">
										</div>
									</div>
								</a>
								<div class="clearfix"></div>
								<a href="#" class="button">
									<div class="button_outer on">
										<div class="button_inner resizble" style="font-size: 18px; line-height: 45px;">
											В корзину
										</div>
									</div>
								</a>
							</div>
						</div>
					</div>
					<div class="sp_cnt_left_bottom">
						<div class="sp_cnt_left_bottom_outer">
							<div class="sp_cnt_left_bottom_inner">
								<a href="#" class="button button_large">
									<div class="button_outer on">
										<div class="button_inner resizble" style="font-size: 18px; line-height: 45px;">
											1269 <img class="r" src="asset/r.png" />
										</div>
									</div>
								</a>
								<div class="clearfix"></div>
								<a href="#" class="button button_small button_small_left">
									<div class="button_outer on">
										<div class="button_inner resizble" style="font-size: 18px; line-height: 45px;">
											235 <img class="coin" src="asset/coin_gold.png" />
										</div>
									</div>
								</a>
								<a href="#" class="button button_small button_small_right">
									<div class="button_outer on">
										<div class="button_inner resizble" style="font-size: 18px; line-height: 45px;">
											352 <img class="coin" src="asset/coin.png" />
										</div>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>