*{
	margin: 0;
	padding: 0;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html{
	background-color: #b39063;
    overflow: hidden!important;
}

body {
	margin: 0;
	padding: 0;
    font-family: Georgia;
    overflow: hidden!important;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a{
	text-decoration: none;
}

input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;
	-moz-appearance: none;
	background: none;
	width: 100%;
    height: 100%;
}
input[type=range]::-webkit-slider-runnable-track {
	margin-top: -1%;
	width: 100%;
    height: 100%;
    border: none;
    background-image: url("../asset/sound_bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
	box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
	border: 0px solid #000101;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
	-moz-appearance: none;
    border: none;
    padding-top: 12%;
    width: 9%;
	background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("../asset/sound_scroll.png");
	box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
	border: 0px solid #000000;
    margin-top: -3%;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background-image: url("../asset/sound_bg_hov.png");
}

input[type=range]::-moz-range-track {
	width: 100%;
    height: 100%;
    border: none;
	background-image: url("../asset/sound_bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
	border: 0px solid #000101;
	box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
	    -webkit-appearance: none;
	-moz-appearance: none;
}
input[type=range]::-moz-range-thumb {
    border: none;
    padding-top: 12%;
    width: 9%;
	background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("../asset/sound_scroll.png");
	box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
	border: 0px solid #000000;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]::-ms-track {

    
    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;
    
    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
	width: 94%;
    height: 100%;
    border: none;
	background-image: url("../asset/sound_bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
	padding: 0 3%;
}
input[type=range]::-ms-fill-lower {
    background: #ba0000;
    border-radius: 10px;
	height: 21%;
	margin-top: 33%;
}

input[type=range]::-ms-thumb {
    border: none;
	padding-top: 12%;
    width: 9%;
	background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("../asset/sound_scroll.png");
}
input[type=range]:focus::-ms-fill-lower {
    background: #ba0000;
	border-radius: 10px;
	height: 21%;
	margin-top: 33%;
}
input[type=range]:focus::-ms-fill-upper {
    background: #300000;
	border-radius: 10px;
	height: 21%;
	margin-top: 33%;
}

#main{
	width: 1920px;
	height: 1080px;
	background-image: url(../asset/bg.jpg);
    background-repeat: no-repeat;
	background-size: 100% 100%;
}

.main_menu{
    width: 66.67%;
    margin: auto;
}

.main_menu .outer{
	padding-top: 5.47%;
}

.main_menu .outer .inner{
    background-image: url('../asset/head_menu.png');
}

.exit{
	width: 3.282%;
    /*display: none;*/
    position: absolute;
    z-index: 2;
    right: 1.35%;
    top: 2.3%;
}

.exit .outer{
	padding-top: 98.42%;
}

.exit .outer .inner{
	background-image: url("../asset/exit.png");
}

.exit .outer .inner:hover{
	background-image: url("../asset/exit_hov.png");
}

.game_menu_arrow{
    width: 3.81%;
}

.game_menu_arrow .game_menu_arrow_outer{
    padding-top: 174.06%;
}

.game_menu_arrow .game_menu_arrow_outer .left{
	background-image: url("../asset/menu_left.png");
}

.game_menu_arrow .game_menu_arrow_outer .left:hover{
	background-image: url("../asset/menu_left_hov.png");
}

.game_menu_arrow .game_menu_arrow_outer .right{
	background-image: url("../asset/menu_right.png");
}

.game_menu_arrow .game_menu_arrow_outer .right:hover{
	background-image: url("../asset/menu_right_hov.png");
}

.avatar_slider_arrow{
    width: 8.6%;
    margin-top: 1.5%;
}

.avatar_slider_arrow .avatar_slider_arrow_outer{
    padding-top: 288.6%;
}

.avatar_slider_arrow .avatar_slider_arrow_outer .left{
	background-image: url("../asset/menu_left.png");
    margin-right: -14%;
}

.avatar_slider_arrow .avatar_slider_arrow_outer .left:hover{
	background-image: url("../asset/menu_left_hov.png");
}

.avatar_slider_arrow .avatar_slider_arrow_outer .right{
	background-image: url("../asset/menu_right.png");
	margin-left: -9%;
}

.avatar_slider_arrow .avatar_slider_arrow_outer .right:hover{
	background-image: url("../asset/menu_right_hov.png");
}

.game_menu_arrow, .game_menu .game_menu_outer{
	float: left;
}

.game_menu_right{
	display: inline-block;
	vertical-align: middle;
}

.avatar_slider_arrow, .avatar_conteiner{
	float: left;
	vertical-align: middle;
}

.m_menu{
    width: 47.92%;
    margin: auto;
    display: inline-block;
}

.blocks, .chat, .chat .outer .inner .content, .avatar_item .avatar_item_outer .avatar_item_inner, .chat_right, .chat_left{
	-webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.exit .outer .inner, .game_menu_arrow .game_menu_arrow_outer .game_menu_arrow_inner, .avatar_slider_arrow .avatar_slider_arrow_outer .avatar_slider_arrow_inner, .info_button .info_button_outer .info_button_inner, .label .label_outer .label_inner, .general_outer,
.quests .outer .inner .row .icon .icon_outer, .chat .outer .inner .bar .bar_outer .bar_inner .arrow .arrow_outer, .chat_user_right .chat_user_right_outer .chat_user_right_inner, .m_close .m_close_outer .m_close_inner, .chat_user_nav_button .chat_user_nav_button_outer .chat_user_nav_button_inner,
.arrow .outer .inner, .s_arrow .s_arrow_outer .s_arrow_inner, .search .outer .inner, .t_icon .t_icon_outer .t_icon_inner, .m_icon .m_icon_outer .m_icon_inner, .chat_top .middle_button .middle_button_outer .middle_button_inner,
.before .before_outer .before_inner, .after .after_outer .after_inner, .gen_icon .outer .inner, .mess_icn .mess_icn_outer .mess_icn_inner, .book_icon .outer .inner, .gen_select, .top_button .top_button_outer .top_button_inner, .d_card_new, .order .outer .inner,
.d_c_info .d_c_info_outer .d_c_info_inner, .d_general .d_general_outer .d_general_inner, .s_item_right .s_item_right_outer .s_item_right_inner, .sp_menu_button .sp_menu_button_outer .sp_menu_button_inner, .d_card_row_close .d_card_row_close_outer .d_card_row_close_inner {
	cursor: pointer;
	-webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.top_button { 
    width: 12.73%;
    float: left;
    margin-top: 0.2%;
}

.top_button:first-child{
	margin-left: 11.8%;
}

.top_button .top_button_outer {
    padding-top: 31.92%;
}

.middle_button { 
    width: 19.42%;
    float: left;
	    display: block;
	margin: 0.7% auto auto 0.7%;
}

.middle_button:first-child{
	margin: 0.7% auto auto 0;
}

.middle_button .middle_button_outer {
    padding-top: 30.3%;
}

.middle_button .middle_button_outer .middle_button_inner{
	background-image: url(../asset/middle_button.png);	
}

.middle_button .middle_button_outer .middle_button_inner .text{
	height: 90%;
}

.top_button .top_button_outer .top_button_inner{
	background-image: url(../asset/head_button.jpg);
}

.top_button .top_button_outer .top_button_inner:hover{
	background-image: url(../asset/head_button_hov.jpg);
}

.top_button .top_button_outer .top_button_inner, .middle_button .middle_button_outer .middle_button_inner, .p_general .p_general_outer .p_general_inner .text, .d_general .d_general_outer .d_general_inner .text, .chat_user_nav_button .chat_user_nav_button_outer .chat_user_nav_button_inner .text, .d_card_new .d_card_new_outer .d_card_new_inner {
    color: #fffc9e;
    text-shadow: 0px 0px 5px #ff0101, 0px 0px 1px #ff0000;
    text-align: center;
}

.top_button .top_button_outer .top_button_inner, .middle_button .middle_button_outer .middle_button_inner, .avatar .outer .inner, .p_l_avatar .p_l_avatar_outer .p_l_avatar_inner, .quests .outer .inner, .achievements .outer .inner,
.menu .outer .inner, .decks .outer .inner, .generals .outer .inner, .title_inner, .bar_inner, .chat .outer .inner, .button_inner,
.general_inner, .exit .outer .inner, .game_menu_arrow .game_menu_arrow_outer .game_menu_arrow_inner, .avatar_slider_arrow .avatar_slider_arrow_outer .avatar_slider_arrow_inner, .info_button .info_button_outer .info_button_inner, .label .label_outer .label_inner,
.chat .outer .inner .bar .bar_outer .bar_inner .arrow .arrow_outer .arrow_inner, .about .outer .inner, .avatar_big .outer .inner, 
.personal .outer .inner, .gen .outer .inner, .arch .outer .inner, .control .outer .inner, .p_general .p_general_outer .p_general_inner, .s_avatar .s_avatar_outer .s_avatar_inner, .sound_bar .sound_bar_outer .sound_bar_inner, 
.d_general .d_general_outer .d_general_inner, .p_button_inner, .p_archivment .p_archivment_outer .p_archivment_inner, .s_item_left .s_item_left_outer .s_item_left_inner, .s_item_right .s_item_right_outer .s_item_right_inner, .chat_user_left .chat_user_left_outer .chat_user_left_inner, .chat_user_right .chat_user_right_outer .chat_user_right_inner, .m_close .m_close_outer .m_close_inner, .mes_icon .mes_icon_outer .mes_icon_inner, .chat_user_nav_button .chat_user_nav_button_outer .chat_user_nav_button_inner, .avatar_item .avatar_item_outer .avatar_item_inner, .s_shirt .s_shirt_outer .s_shirt_inner, 
.d_card .d_card_outer .d_card_inner, .d_decks .outer .inner, .sp_select .outer .inner, .s_blocks .outer .inner, .d_cards .outer .inner, .achievements_main .outer .inner, .achievements_row .achievements_row_outer .achievements_row_inner, .friends_main .outer .inner, .friends_row .friends_row_outer .friends_row_inner, .m_row .m_row_outer .m_row_inner, .sp_item .sp_item_outer .sp_item_inner, .s_block_top .s_block_top_outer .s_block_top_inner, .s_block_bottom .s_block_bottom_outer .s_block_bottom_inner, .p_l_cnt .p_l_cnt_outer .p_l_cnt_inner, .order .outer .inner, .sorrow .sorrow_outer .sorrow_inner, .shield .shield_outer .shield_inner, .gen_top .outer .inner,  
.gen_bottom .outer .inner, .d_cards_main .outer .inner, .m_body .m_body_outer .m_body_inner, .m_t_row .m_t_row_outer .m_t_row_inner, .m_t_row_large .m_t_row_large_outer .m_t_row_large_inner, .sp_cnt .sp_cnt_outer .sp_cnt_inner, .sp_cnt_left .sp_cnt_left_outer .sp_cnt_left_inner, .sp_cnt_bottom .sp_cnt_bottom_outer .sp_cnt_bottom_inner, .sp_cnt_left_bottom .sp_cnt_left_bottom_outer .sp_cnt_left_bottom_inner, .sp_s_main .outer .inner, .options_block .options_block_outer .options_block_inner, .d_cards_conteiner .d_cards_conteiner_outer .d_cards_conteiner_inner, 
.d_types .outer .inner, .count .count_outer .count_inner, .d_c_info .d_c_info_outer .d_c_info_inner, .d_mgic .outer .inner, .sp_menu .sp_menu_outer .sp_menu_inner, .sp_menu_button .sp_menu_button_outer .sp_menu_button_inner, .sp_coins .sp_coins_outer .sp_coins_inner, .sp_title .sp_title_outer .sp_title_inner, .avatar_conteiner .avatar_conteiner_outer .avatar_conteiner_inner, .arrow .outer .inner, .s_arrow .s_arrow_outer .s_arrow_inner, .search .outer .inner,
.t_icon .t_icon_outer .t_icon_inner, .d_card_new .d_card_new_outer .d_card_new_inner, .m_icon .m_icon_outer .m_icon_inner, .before .before_outer .before_inner, .numbers .numbers_outer .numbers_inner, 
.after .after_outer .after_inner, .gen_icon .outer .inner, .d_card_row .d_card_row_outer .d_card_row_inner, .reward .reward_outer .reward_inner, .d_card_row_close .d_card_row_close_outer .d_card_row_close_inner, .mess_icn .mess_icn_outer .mess_icn_inner, .book_icon .outer .inner, .sp_title_arrow .sp_title_arrow_outer .sp_title_arrow_inner, .main_menu .outer .inner, .game_menu .game_menu_outer .game_menu_inner{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.row_center{
	text-align: center;
}

.avatar { 
	width: 12.45%;
    display: inline-block;
    margin: 0 6%;
}

.avatar .outer {
    width: 100%;
    padding-top: 176.55%;
    position: relative;
    background-repeat: no-repeat;
	background-size: 85% 56%;
    background-position: 52% 40%;
    display: block;
}

.avatar .outer .inner {
	background-image: url(../asset/avatar.png);
    background-repeat: no-repeat;
	background-size: 100% 100%;
	text-align: center;
}

.p_l_avatar { 
    width: 79.59%;
    margin: auto;
    word-spacing: 0;
}

.p_l_avatar .p_l_avatar_outer {
    width: 100%;
    padding-top: 164.6%;
    position: relative;
    background-repeat: no-repeat;
    background-size: 91% 64%;
    background-position: 46% 29%;
    display: block;
}

.p_l_avatar .p_l_avatar_outer .p_l_avatar_inner {
	background-image: url(../asset/avatar_large.png);
    background-repeat: no-repeat;
	background-size: 100% 100%;
	text-align: center;
}

.quests, .achievements, .menu, .decks, .generals, .chat, .gen, .control, .arch  { 
    display: inline-block;
	vertical-align: super;
    margin: auto;
}

.about, .avatar_big, .personal{
	display: inline-block;
	vertical-align: middle;
    margin: auto;
}

.avatar_big{
	width: 56%;
    margin: auto -11.6%;
}

.control{
	width: 30%;
    margin: 0 1.3%;
}

.gen .outer, .arch .outer{
	padding-top: 65.19%;
}

.about, .personal, .gen, .arch{
	width: 30.57%;
}

.about, .personal{
	margin-top: -3%;
}

.gen, .arch{
	margin-top: -4%;
}

.about .outer, .personal .outer, .control .outer{
    padding-top: 53.12%;
}

.avatar_big .outer{
    padding-top: 65.55%;
    background-repeat: no-repeat;
    background-size: 34% 62%;
    background-position: 49.5% 25%;
    z-index: 1;
}

.avatar_big .outer .inner{
	background-image: url(../asset/avatar_big.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
}

.gen .outer .inner{
	background-image: url(../asset/generals2.png);
}

.arch .outer .inner{
	background-image: url(../asset/achievements2.png);
    padding: 3% 0% 3% 3%;
}

.about .outer .inner{
	background-image: url(../asset/about.png);
}

.about .outer .inner .text, .personal .outer .inner .text{
    width: 86%;
    padding: 4% 7%;
	font-size: 0.9vw;
}

.personal .outer .inner .text{
	text-align: left;
}

.personal .outer .inner{
	background-image: url(../asset/personal.png);
}

.quests, .achievements { 
	width: 31.094%;
}

.quests .title, .achievements .title, .about .title, .personal .title, .gen .title, .arch .title{
	margin: 4% auto 0 auto;
}

.quests .title, .achievements .title{
	width: 29.65%;
}

.about .title, .personal .title{
    width: 36.42%;
}

.gen .title, .arch .title{
    width: 40.5%;
}

.blocks{ 
	width: 22.76%;
    margin: 0 4.6%;
}

.chat{
	width: 20%;
    margin-left:-4.5%;
    float: right;
	position: inherit;
}

.chat .outer{
    padding-top: 99%;
}

.chat .outer .inner .bar{
    width: 13.28%;
    position: absolute;
	top: -7.5%;
}

.chat .outer .inner .bar .bar_outer{
    padding-top: 868.9%;
    background-image: url("../asset/chat_left.png");
}

.chat .outer .inner .bar .bar_outer .bar_inner .arrow{
	width: 102%;
    position: absolute;
    right: 46%;
    top: 38%;
}

.chat .outer .inner .bar .bar_outer .bar_inner .arrow .arrow_outer{
    padding-top: 205.77%;
}

.chat .outer .inner .bar .bar_outer .bar_inner .arrow .on{
    background-image: url("../asset/chat_arrow.png");
}

.chat .outer .inner .bar .bar_outer .bar_inner .arrow .off{
    background-image: url("../asset/chat_arrow_off.png");
}

.chat .outer .inner .bar .bar_outer .bar_inner .arrow .arrow_outer:hover{
    padding-top: 205.77%;
    background-image: url("../asset/chat_arrow_hov.png");
}

.chat .outer .inner .bar .bar_outer .bar_inner .arrow .arrow_outer .arrow_inner{
	height: 40%;
	padding-top: 62%;
}

.chat .outer .inner .content{
    background-image: url("../asset/chat_bg.png");
    width: 0;
    height: 100%;
    margin-left: 8%;
	display: none;
}

.menu .title, .decks .title, .generals .title{
	width: 40.5%;
	margin: 4% auto 0 auto;
}

.menu .button {
	margin: 4% auto;
    width: 43.23%;
    clear: both;
	cursor: pointer;
}

.button .on .button_inner, .general_inner, .arrow_inner, .p_button .on .p_button_inner, .numbers .numbers_outer .numbers_inner, .s_block_bottom_inner, .p_l_cnt_inner, .order .outer .inner, .s_item_right .s_item_right_outer .s_item_right_inner .text, .sp_menu_button .sp_menu_button_outer .sp_menu_button_inner{
	color: #fffc9e;
	text-shadow: 0px 0px 5px #ff0101, 0px 0px 1px #ff0000;
}

.button .off .button_inner, .p_button .off .p_button_inner{
	color: #f4f4f4;
	text-shadow: 0px 0px 5px #0d0d0d, 0px 0px 1px #6e6e6e;
}

.button, .general{
    display: block;
}

.button .button_outer, .p_button .p_button_outer{
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.button .off{
	background-image: url(../asset/middle_button_off.png);
}

.button .on:hover, .middle_button .middle_button_outer .middle_button_inner:hover{
	background-image: url(../asset/middle_button_hov.png);
}

.quests .outer, .achievements .outer, .menu .outer, .decks .outer, .generals .outer, .chat .outer, .about .outer, .personal .outer, .top_button .top_button_outer, .middle_button .middle_button_outer,
.avatar_big .outer, .gen .outer, .arch .outer, .control .outer, .p_general .p_general_outer, .s_avatar .s_avatar_outer, .sound_bar .sound_bar_outer, .d_general .d_general_outer, 
.p_archivment .p_archivment_outer, .s_item_left .s_item_left_outer, .s_item_left .s_item_left_outer, .s_item_right .s_item_right_outer, .chat_user_left .chat_user_left_outer, .chat_user_right .chat_user_right_outer, .m_close .m_close_outer, .mes_icon .mes_icon_outer, .chat_user_nav_button .chat_user_nav_button_outer, .avatar_item .avatar_item_outer, .main_menu .outer, .game_menu .game_menu_outer,
.s_shirt .s_shirt_outer, .d_card .d_card_outer, .d_decks .outer, .sp_select .outer, .s_blocks .outer, .d_cards .outer, .achievements_main .outer, .achievements_row .achievements_row_outer, .friends_main .outer, .friends_row .friends_row_outer, .m_row .m_row_outer, .sp_item .sp_item_outer, .s_block_top .s_block_top_outer, .s_block_bottom .s_block_bottom_outer, .p_l_cnt .p_l_cnt_outer, .order .outer, .sorrow .sorrow_outer, .shield .shield_outer, .gen_top .outer, 
.gen_bottom .outer, .d_cards_main .outer, .m_body .m_body_outer, .m_t_row .m_t_row_outer, .m_t_row_large .m_t_row_large_outer, .sp_cnt .sp_cnt_outer, .sp_cnt_left .sp_cnt_left_outer, .sp_cnt_bottom .sp_cnt_bottom_outer, .sp_cnt_left_bottom .sp_cnt_left_bottom_outer, .sp_s_main .outer, .options_block .options_block_outer, .d_cards_conteiner .d_cards_conteiner_outer, .d_types .outer, .count .count_outer, 
.d_c_info .d_c_info_outer, .d_mgic .outer, .sp_menu .sp_menu_outer, .sp_menu_button .sp_menu_button_outer, .sp_coins .sp_coins_outer, .sp_title .sp_title_outer, .avatar_conteiner .avatar_conteiner_outer, .arrow .outer, .sp_title_arrow .sp_title_arrow_outer, .s_arrow .s_arrow_outer, .search .outer, .t_icon .t_icon_outer, .d_card_new .d_card_new_outer, .m_icon .m_icon_outer, .before .before_outer,
 .numbers .numbers_outer, .after .after_outer, .gen_icon .outer, .d_card_row .d_card_row_outer, .reward .reward_outer, .d_card_row_close .d_card_row_close_outer, .mess_icn .mess_icn_outer, .book_icon .outer, .game_menu_arrow .game_menu_arrow_outer, .avatar_slider_arrow .avatar_slider_arrow_outer{
    width: 100%;
    position: relative;
    display: block;
}

.quests .outer, .achievements .outer {
    padding-top: 64.825%;
}

.menu .outer, .decks .outer, .generals .outer{
	padding-top: 87.87%;
}

.quests .outer .inner, .achievements .outer .inner, .menu .outer .inner, .sp_s_main .outer .inner, .quests .outer .inner .row .icon .icon_outer .icon_outer, .main_menu .outer .inner, .game_menu .game_menu_outer .game_menu_inner, .top_button .top_button_outer .top_button_inner,
.decks .outer .inner, .generals .outer .inner, .exit .outer .inner, .game_menu_arrow .game_menu_arrow_outer .game_menu_arrow_inner, .avatar_slider_arrow .avatar_slider_arrow_outer .avatar_slider_arrow_inner, .info_button .info_button_outer .info_button_inner, .label .label_outer .label_inner,
.quests .outer .inner .row .icon .icon_outer, .chat .outer .inner .bar .bar_outer, .chat .outer .inner .bar .bar_outer .bar_inner .arrow .arrow_outer, .sp_title_arrow .sp_title_arrow_outer .sp_title_arrow_inner, .chat .outer .inner .content,
.about .outer .inner, .personal .outer .inner, .gen .outer .inner, .arch .outer .inner, .p_general .p_general_outer, .s_avatar .s_avatar_outer, .sound_bar .sound_bar_outer, .d_general .d_general_outer, .middle_button .middle_button_outer .middle_button_inner,
.d_decks .outer .inner, .s_blocks .outer .inner, .d_cards .outer .inner, .sp_item .sp_item_outer .sp_item_inner, .s_block_top .s_block_top_outer .s_block_top_inner, .s_block_bottom .s_block_bottom_outer .s_block_bottom_inner, .p_l_cnt .p_l_cnt_outer .p_l_cnt_inner, .order .outer .inner, .sorrow .sorrow_outer .sorrow_inner, .shield .shield_outer .shield_inner, .gen_top .outer .inner, .gen_bottom .outer .inner, .arrow .outer .inner, .s_arrow .s_arrow_outer .s_arrow_inner, .search .outer .inner,
.d_card_new .d_card_new_outer .d_card_new_inner, .t_icon .t_icon_outer .t_icon_inner, .m_icon .m_icon_outer .m_icon_inner, .before .before_outer .before_inner, .after .after_outer .after_inner, .s_item_right .s_item_right_outer .s_item_right_inner, .chat_user_left .chat_user_left_outer .chat_user_left_inner, .chat_user_right .chat_user_right_outer .chat_user_right_inner, .m_close .m_close_outer .m_close_inner, .mes_icon .mes_icon_outer .mes_icon_inner, .chat_user_nav_button .chat_user_nav_button_outer .chat_user_nav_button_inner, .d_cards .outer .inner, .achievements_main .outer .inner, .achievements_row .achievements_row_outer .achievements_row_inner, .friends_main .outer .inner,
.gen_icon .outer .inner, .d_card_row .d_card_row_outer .d_card_row_inner, .reward .reward_outer .reward_inner, .d_card_row_close .d_card_row_close_outer .d_card_row_close_inner, .mess_icn .mess_icn_outer .mess_icn_inner, .book_icon .outer .inner, .d_mgic .outer .inner, .sp_menu .sp_menu_outer .sp_menu_inner, .sp_menu_button .sp_menu_button_outer .sp_menu_button_inner, .sp_coins .sp_coins_outer .sp_coins_inner, .sp_title .sp_title_outer .sp_title_inner, .avatar_conteiner .avatar_conteiner_outer .avatar_conteiner_inner, .count .count_outer .count_inner, .d_c_info .d_c_info_outer .d_c_info_inner {
    background-repeat: no-repeat;
	background-size: 100% 100%;
	text-align: center;
}


.game_menu{
    width: 92.38%;
    margin: auto;
}

.game_menu .game_menu_outer{
	padding-top: 7.18%;
}

.game_menu .game_menu_outer .game_menu_inner{
    background-repeat: repeat-x;
    background-size: auto 100%;
    background-image: url('../asset/game_menu.png');
}

.quests .outer .inner{
	background-image: url(../asset/quests.png);	
}

.achievements .outer .inner{
	background-image: url(../asset/achievements.png);	
	word-spacing: -4px;
}

.menu .outer .inner{
	background-image: url(../asset/menu.png);	
    padding: 4% 0% 4% 4%;
}

.menu .outer .inner .content, .generals .outer .inner .content{
	margin-right: 9%;
}

.menu .outer .inner .title, .generals .outer .inner .title{
    margin-top: 0;
	width: 46.36%;
}

.decks a{
	text-decoration: none;
	color: #000000;
}

.decks a:hover{
	opacity: 0.7;
}

.decks .outer .inner{
	background-image: url(../asset/decks.png);	
}

.generals .outer .inner{
	background-image: url(../asset/generals.png);	
    padding: 4% 0% 4% 4%;
}

.generals .general {
    width: 100%;
}

.gift{
	width: 17.575%;
    margin-top: 119%;
}

.u_name{
	text-align: center;
    margin-top: 13.5%;
	color: #c1853a;
	height: 12%;
}

.p_r_up{
	text-align: center;
    margin-top: 119.5%;
	color: #c1853a;
	height: 10%;
}


.p_l_games, .p_l_state{
    text-align: center;
    color: #b57a34;
    height: 7.5%;
    margin-top: 7.5%;
    position: absolute;
}

.p_l_games{ left: 12%;}

.p_l_state{ right: 14%;}

.p_rating, .p_state{
    text-align: center;
    color: #b57a34;
    height: 7.5%;
    margin-top: 57.5%;
    position: absolute;
}

.p_rating{ left: 37%;}

.p_state{ right: 37.5%;}

.u_rating, .u_state{
	text-align: center;
	color: #c1853a;
	height: 7.5%;
    margin-top: 95%;
    position: absolute;
}

.u_rating{ left: 10.2%;}

.u_state{ right: 10.2%;}

.u_rating_c, .u_state_c{
	text-align: center;
	color: #ffffff;
	height: 12%;
    margin-top: 87.5%;
    position: absolute;
}

.u_rating_c{ left: 40%;}
.u_state_c{	right: 40%;}

.p_l_games_c, .p_l_state_c{
	text-align: center;
	color: #ffffff;
	height: 10%;
    margin-top: 2.5%;
    position: absolute;
}

.p_l_games_c{ left: 42.5%;}
.p_l_state_c{ right: 42.5%;}

.p_rating_c, .p_state_c{
	text-align: center;
    color: #eaffcd;
    height: 9%;
    margin-top: 56%;
    position: absolute;
}

.p_rating_c{ left: 46.9%;}
.p_state_c{ right: 47.7%;}

.u_gold, .u_coins{
	text-align: center;
	color: #c1853a;
	height: 7.5%;
    margin-top: 125.5%;
    position: absolute;
}

.u_gold{ left: 9%;}

.u_coins{ right: 9%;}

.info_middle{
	display: block;
}

.m_menu .info_middle{
    width: 5.98%;
    margin: auto;
}

.title .info_middle{
	width: 34.29%;
	margin: -5.5% auto auto auto;
	position: relative;
}

.info_button{
	width: 17.58%;
    float: right;
    margin-top: -29.5%;
    position: relative;
    margin-right: -1.5%;
}

.info_button_outer{
	padding-top: 148.3%;
}

.info_button_outer .info_button_inner{
    background-image: url("../asset/info_button.png");
}

.info_button_outer .info_button_inner:hover{
    background-image: url("../asset/info_button_hov.png");
}

.checkbox{
	display: none;
}

.label{
    width: 9.6%;
    float: right;
    margin: 2% 15% 2% 2%;
    position: relative;
    display: block;
    clear: both;
}

.label_outer{
	padding-top: 100%;
}

.label_outer .label_inner{
    background-image: url("../asset/checkbox.png");
}

.label_outer .label_inner:hover{
    background-image: url("../asset/checkbox_active.png");
}

.checkbox:checked + label .label_inner{
    background-image: url("../asset/checkbox_active.png");
}

.clearfix:before,.clearfix:after{
    display: table;
    content: " ";
}

.clearfix{
	clear: both;
}

.mb_0_5p{
	margin-bottom: 0.5%;
}

.mb_1p{
	margin-bottom: 1%;
}

.mb_2p{
	margin-bottom: 2%;
}

.mb_3p{
	margin-bottom: 3%;
}

.mb_3_5p{
	margin-bottom: 3.5%;
}

.mb_6p{
	margin-bottom: 6%;
}

.mb_10p{
	margin-bottom: 10%;
}

.achievements .button{
	margin: auto;
    width: 27.64%;
	word-spacing: 0;
}

.title_outer, .button_outer, .general_outer, .p_button_outer{
	width: 100%;
    position: relative;
    background-repeat: no-repeat;
	background-size: 100% 100%;
    display: block;

}

.button_outer{
	padding-top: 30.31%;
	background-image: url(../asset/middle_button.png);
}

.general_outer{
    padding-top: 26.96%;
	background-image: url(../asset/general_button.png);
    text-align: -webkit-center;
}

.general_outer:hover{
	background-image: url(../asset/general_button_hov.png);
}

.general_icon {
    width: 24.47%;
    margin-top: 0.5%;
    position: absolute;
    left: 0;
}

.generals .outer .inner .row{
	margin: 4% auto;
    width: 73.87%;
    clear: both;
}

.generals .outer .inner .row .bar{
    background-image: url("../asset/bar-general.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    margin: -1% auto auto auto;
}

.generals .outer .inner .row .bar .bar_outer{
	width: 100%;
    position: relative;
    display: block;
	padding-top: 6.74%;
}

.generals .outer .inner .row .bar .bar_outer .bar_inner{
    background-image: url("../asset/bar_done-mini.png");
    background-repeat: no-repeat;
    margin: 0.8% 1% 3% 1%;
}

.general .general_outer .general_inner .resizble_long{
	vertical-align: middle;
    display: table-cell;
}

.title_outer{
	padding-top: 30.51%;
	background-image: url(../asset/title.png);
}

.title_inner, .button_inner, .p_button_inner, .reward .reward_outer .reward_inner{
	color: #dbbf78;
	height: 100%;
    font-family: Cambria, Georgia, serif;
}

.d_main{
	word-spacing: -4px;
}


.achievements_item{
    width: 18.8%;
    display: inline-block;
    vertical-align: top;
    clear: both;
    margin: 2% auto 1% auto;
    text-align: center;
}

.achievements .outer .inner .row{
	width: 31%;
    display: inline-block;
    vertical-align: top;
    clear: both;
    margin: 2% auto 1% auto;
    text-align: center;
}

.achievements .outer .inner .row .icon, .achievements_item .icon{
	display: block;
    width: 70.25%;
    margin: auto;
}

.achievements .outer .inner .row .info, .achievements_item .info{
    display: block;
	word-spacing: 0;
}

.achievements .outer .inner .row .info .text, .achievements_item .info .text{
    font-size: 0.75vw;
}

.achievements .outer .inner .row .info .bar, .achievements_item .info .bar{
    background-image: url("../asset/bar-mini.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 66.47%;
    margin: auto;
}

.achievements .outer .inner .row .info .bar_outer, .achievements_item .info .bar_outer{
    width: 100%;
    position: relative;
    display: block;
    padding-top: 15.45%;
}

.achievements .outer .inner .row .info .bar .bar_outer .bar_inner, .achievements_item .info .bar .bar_outer .bar_inner{
    background-image: url("../asset/bar_done-mini.png");
    background-repeat: no-repeat;
    margin: 2% 4% 5.8% 2%;
}

.quests .outer .inner .row{
	width: 88%;
    margin: 1% auto 4% auto;
    display: block;
    word-spacing: -4px;
    clear: both;
}

.quests .outer .inner .row .icon{
	float: left;
    vertical-align: middle;
    width: 12%;
}

.quests .outer .inner .row .icon .icon_outer{
	padding-top: 100%;
}

.icon1{ background-image: url("../asset/game/cards/icons/1.png"); }
.icon1:hover{ background-image: url("../asset/game/cards/icons/1_hov.png");}
.icon2{ background-image: url("../asset/game/cards/icons/2.png");}
.icon2:hover{ background-image: url("../asset/game/cards/icons/2_hov.png");}
.icon3{ background-image: url("../asset/game/cards/icons/3.png");}
.icon3:hover{ background-image: url("../asset/game/cards/icons/3_hov.png");}
.icon4{ background-image: url("../asset/game/cards/icons/4.png");}
.icon4:hover{ background-image: url("../asset/game/cards/icons/4_hov.png");}
.icon5{ background-image: url("../asset/game/cards/icons/5.png");}
.icon5:hover{ background-image: url("../asset/game/cards/icons/5_hov.png");}
.icon6{ background-image: url("../asset/game/cards/icons/6.png");}
.icon6:hover{ background-image: url("../asset/game/cards/icons/6_hov.png");}
.icon7{ background-image: url("../asset/game/cards/icons/7.png");}
.icon7:hover{ background-image: url("../asset/game/cards/icons/7_hov.png");}
.icon8{ background-image: url("../asset/game/cards/icons/8.png");}
.icon8:hover{ background-image: url("../asset/game/cards/icons/8_hov.png");}
.icon9{ background-image: url("../asset/game/cards/icons/9.png");}
.icon9:hover{ background-image: url("../asset/game/cards/icons/9_hov.png");}
.icon10{ background-image: url("../asset/game/cards/icons/10.png");}
.icon10:hover{ background-image: url("../asset/game/cards/icons/10_hov.png");}
.icon11{ background-image: url("../asset/game/cards/icons/11.png");}
.icon11:hover{ background-image: url("../asset/game/cards/icons/11_hov.png");}

.quests .outer .inner .row .icon img, .achievements .outer .inner .row .icon img, .achievements_item .icon img{
	width: 100%;
}

.quests .outer .inner .row .info{
	display: inline-table;
    width: 84%;
    vertical-align: middle;
    padding: 0 2%;
}

.quests .outer .inner .row .info .bar{
    background-image: url("../asset/bar.png");
    background-repeat: no-repeat;
    background-size: 100%;
	text-align: left;
    width: 80.95%;
}

.quests .outer .inner .row .info .bar .bar_outer{
    width: 100%;
    position: relative;
    display: block;
    padding-top: 5.32%;
}

.quests .outer .inner .row .info .bar .bar_outer .bar_inner{
    background-image: url("../asset/bar_done.png");
    background-repeat: no-repeat;
    margin: 0.6% 0.5% 2% 0.5%;
}

.quests .outer .inner .row .info .text{
	word-spacing: 0;
    text-align: left;
	font-size: 0.7vw;
}

.shirt{
	margin-top: 2%;
	width: 41.42%;
}

.decks .outer .inner .text{
	width: 37%;
    margin: -18% auto 0 auto;
    height: 16%;
    font-size: 0.67vw;
}

.container, .popup_container, .popup_container_small, .popup_container_middle{
	margin: auto;
}

.profile{
	width: 100%;
    display: block;
    position: absolute;
    top: 17%;
	cursor: pointer;
}

.profile .profile_outer{
    padding-top: 95%;
}

.slug{
    text-align: center;
    color: #d2ad7c;
    height: 13%;
    margin-top: 46.7%;
    position: absolute;
    width: 100%;
    font-family: Cambria, Georgia, serif;
}

.p_general {
    width: 23.74%;
    display: inline-block;
    margin: auto 1%;
}

.p_general .p_general_outer {
	padding-top: 87.3%;
    background-repeat: no-repeat;
    background-size: 86% 62%;
    background-position: 50% 11%;
}

.p_general .p_general_outer .p_general_inner {
    background-image: url("../asset/general_icon.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
}

.s_avatar {
    width: 60.44%;
    margin: 8% auto auto auto;
}

.s_avatar .s_avatar_outer {
	padding-top: 110.98%;
    background-image: url(../asset/game/avatars/avatar_demon_female.png);
    background-repeat: no-repeat;
    background-size: 91% 94%;
    background-position: 57% 24%;
}

.s_avatar .s_avatar_outer .s_avatar_inner {
    background-image: url("../asset/avatar_bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
}

.sound_bar {
    width: 80.09%;
    margin: auto;
}

.sound_bar .sound_bar_outer {
    padding-top: 8.9%;
}

.sound_bar .sound_bar_outer .sound_bar_inner {
    text-align: center;
}

.p_general .p_general_outer .p_general_inner .text{
    margin-top: 59%;
}

.d_general {
    width: 87.69%;
    margin: auto;
}

.d_general .d_general_outer {
    padding-top: 51.49%;
    background-repeat: no-repeat;
    background-size: 93% 59%;
    background-position: 50% 15%;
}

.d_general .d_general_outer .d_general_inner {
    background-image: url("../asset/decks_item.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
}

.d_general .d_general_outer .d_general_inner_clicked, .d_general .d_general_outer .d_general_inner:hover {
    background-image: url("../asset/decks_item_hov.png");
}

.d_general .d_general_outer .d_general_inner .text{
    margin-top: 30%;
    height: 34%;
}

.arch .outer .inner .title{
    margin-top: 0;
}

.arch .content{
    margin: 1% 9% 1% 1%;
}

.arch .mCSB_scrollTools{
	width: 7.3%;
}

.arch .mCSB_scrollTools .mCSB_buttonUp, .arch .mCSB_scrollTools .mCSB_buttonDown{
	height: 9%;
}

.arch  .mCSB_scrollTools .mCSB_draggerRail {
    width: 68%;
}

.p_archivment{
	width: 15.2%;
    display: inline-block;
    margin: 0.2% 0;
}

.p_archivment .p_archivment_outer{
    padding-top: 101.52%;
    background-image: url(../asset/archivment-mini.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.p_archivment .p_archivment_outer .p_archivment_inner{
    background-image: url("../asset/game/achievements/icons/1.png");
    background-repeat: no-repeat;
    background-size: 70%;
    text-align: center;
    background-position: center;
}

.s_item_left{
    width: 21.84%;
	float: left;
}

.s_item_left .s_item_left_outer{
    padding-top: 124.7%;
    background-image: url(../asset/s_item_left.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.s_item_left .s_item_left_outer .s_item_left_inner{
    background-image: url("../asset/game/generals/ability/general-button-fire1.png");
    background-repeat: no-repeat;
    background-size: 94%;
    text-align: center;
    background-position: center;
}

.chat_user_left{
    width: 81.8%;
    float: left;
    margin-left: 0.2%;
}

.chat_user_left .chat_user_left_outer{
    padding-top: 24.14%;
}

.chat_user_left .chat_user_left_outer .chat_user_left_inner{
    background-image: url("../asset/chat_user_bg.png");
	padding: 0 4%;
}

.chat_user_left .chat_user_left_outer .chat_user_left_inner .text{
	color: #9f6c2c;
	height: 160%;
	text-align: left;
    font-family: Cambria, Georgia, serif;
    margin-top: -8%;
}

.chat_user_right{
    width: 17%;
    float: right;
    margin-right: 1%;
}

.chat_user_right .chat_user_right_outer{
    padding-top: 117%;
}

.chat_user_right .chat_user_right_outer .chat_user_right_inner{
    background-image: url("../asset/chat_user_arrow.png");
}

.chat_user_right_clicked, .chat_user_right .chat_user_right_outer .chat_user_right_inner:hover{
    background-image: url("../asset/chat_user_arrow_hov.png")!important;
}

.m_close{
    width: 3.28%;
    display: inline-table;
    vertical-align: middle;
}

.m_close .m_close_outer{
    padding-top: 100%;
}

.m_close .m_close_outer .m_close_inner{
    background-image: url("../asset/close.png");
}

.m_close .m_close_outer .m_close_inner:hover{
    background-image: url("../asset/close_hov.png");
}

.mes_icon{
    width: 3.28%;
    display: inline-table;
    vertical-align: middle;
}

.mes_icon .mes_icon_outer{
    padding-top: 100%;
}

.mes_icon .mes_icon_outer .mes_icon_inner{
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
}

.mes_icon .mes_icon_outer .new{
    background-image: url("../asset/icons/6.png");
}

.mes_icon .mes_icon_outer .open{
    background-image: url("../asset/icons/7.png");
}

.chat_user_nav_button{
    width: 99%;
    float: left;
    clear: both;
    margin-left: 0.2%;
}

.chat_user_nav_button .chat_user_nav_button_outer{
    padding-top: 19.5%;
}

.chat_user_nav_button .chat_user_nav_button_outer .chat_user_nav_button_inner{
    background-image: url("../asset/chat_user_nav_button.png");
}

.chat_user_nav_button .chat_user_nav_button_outer .chat_user_nav_button_inner:hover{
    background-image: url("../asset/chat_user_nav_button_hov.png");
}

.chat_user_nav_button .chat_user_nav_button_outer .chat_user_nav_button_inner .text{
	height: 130%;
    margin-top: -2%;
}

.s_item_right{
    width: 78.1%;
    float: right;
}

.s_item_right .s_item_right_outer{
    padding-top: 34.83%;
}

.s_item_right .s_item_right_outer .s_item_right_inner{
    background-image: url("../asset/s_item_right.png");
    padding: 4% 4% 4% 3%;
}

.s_item_right .s_item_right_outer .s_item_right_inner:hover{
    background-image: url("../asset/s_item_right_hov.png");
}

.s_item_right .s_item_right_outer .s_item_right_inner .text{
	word-spacing: 0;
	text-align: left;
	font-size: 0.75vw;
    height: 100%;
    line-height: 100%;
}

.full .s_item_right{
    width: 100%;
}

.full .s_item_right .s_item_right_outer{
    padding-top: 27.23%;
}

.full .s_item_right .s_item_right_outer .s_item_right_inner{
    background-image: url("../asset/s_item_full.png");
    padding: 4% 5% 4% 5%;
}

.full .s_item_right .s_item_right_outer .s_item_right_inner:hover{
    background-image: url("../asset/s_item_full_hov.png");
}

.avatar_item{
	width: 33.31%;
    float: left;
    vertical-align: middle;
}

.avatar_item .avatar_item_outer{
    padding-top: 116%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.avatar_item .avatar_item_outer .avatar_item_inner{
	cursor: pointer;
    background-color: #000000;
    opacity: 0.5;
}

.avatar_item .avatar_item_outer .avatar_item_inner:hover{
    opacity: 0;
}

.s_shirt{
    width: 44.23%;
    margin: 8% auto auto auto;
}

.s_shirt .s_shirt_outer{
    padding-top: 151.1%;
    background-image: url(../asset/shirt_bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.s_shirt .s_shirt_outer .s_shirt_inner{
    background-image: url("../asset/game/shirts/casing5-.png");
    background-repeat: no-repeat;
    background-size: 93%;
    text-align: center;
    background-position: center 34%;
}

.control .outer .inner{
    padding: 10% 0;
}

.p_button{
	margin: 2%;
    width: 43.46%;
    clear: both;
    display: inline-block;
    vertical-align: middle;
}

.p_button .p_button_outer{
	padding-top: 23.59%;
    background-image: url(../asset/large_button.png);
}

.p_button .off{
	background-image: url(../asset/large_button_off.png);
}

.p_button .on:hover{
	background-image: url(../asset/large_button_hov.png);
}
.d_blocks{
	display: inline-block;
    vertical-align: middle;
    margin: auto
}

.s_blocks{
    width: 28.99%;
}

.s_blocks .outer{
    padding-top: 143.49%;
}

.s_blocks .outer .inner{
	background-image: url(../asset/settings_block_bg.png);
}

.s_blocks .outer .inner .title{
    width: 48.41%;
    margin: 6% auto auto auto;
}

.d_decks{
    width: 16.51%;
}

.d_decks .outer{
	padding-top: 288.34%;
}

.d_decks .outer .inner{
	background-image: url(../asset/decks-left.png);
    padding: 6% 0% 6% 5%;
}

.d_decks .outer .mCSB_scrollTools{
    width: 12%;
}

.d_decks .outer .mCSB_buttonUp, .d_decks .outer .mCSB_buttonDown{
    height: 3%;
}

#m_read .mCSB_draggerRail, .d_decks .outer .mCSB_draggerRail, .options_block_inner .mCSB_draggerRail{
    background-image: initial;
    background-color: #372107;
    opacity: 0.5;
}

.d_decks .outer .inner .content{
	margin-right: 11%;
}

.d_decks .outer .inner .title{
    width: 74.63%;
	margin: auto auto 2% auto;
}

.d_decks .outer .inner .button{
	width: 61.6%;
    margin: 8% auto 5% auto;
	word-spacing: 0;
}

.sp_select{
    width: 21.66%;
    margin-left: 1.2%;
}

.sp_select .outer{
    padding-top: 264%;
}

.sp_select .outer .mCSB_scrollTools{
    width: 12%;
}

.sp_select .outer .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-size: 74% auto;
    margin-left: 10.1%;
}
.sp_select .outer .mCSB_buttonUp, .sp_select .outer .mCSB_buttonDown{
    height: 3%;
}

.sp_select .outer .mCSB_draggerRail, .options_block_inner .mCSB_draggerRail{
    background-image: initial;
    background-color: #372107;
    opacity: 0.5;
}

.sp_select .outer .inner .content{
	margin-right: 11%;
}

.d_cards_main{
    width: 75.99%;
    margin: 0 0.5%;
}

.d_cards_main .outer{
    padding-top: 65.18%;
}

.m_body{
    width: 87.36%;
    margin: auto;
}

.m_body .m_body_outer{
	padding-top: 67%;
}

.m_t_row_large .m_t_row_large_outer .m_t_row_large_inner, .m_t_row .m_t_row_outer .m_t_row_inner, .m_body .m_body_outer .m_body_inner{
    background-image: url(../asset/m_bg.png);
    border: 0.1vw solid #6f5331;
    border-radius: 0.2vh;
}

.m_t_row, .m_t_row_large{
	width: 74%;
    margin: auto;
}

.m_t_row .m_t_row_outer{
	padding-top: 5%;
}

.m_t_content{
    width: 93%;
    padding: 1%;
}

.m_t_row_large .m_t_row_large_outer{
    padding-top: 50%;
    margin: 8% auto;
}

.sp_cnt, .sp_cnt_bottom{
	width: 72.7%;
    display: inline-table;
    vertical-align: top;
}

.sp_cnt .sp_cnt_outer{
    padding-top: 75.6%;
}

.sp_cnt .sp_cnt_outer .sp_cnt_inner{
    padding-top: 3%;
	word-spacing: 0;
}

.sp_cnt_left, .sp_cnt_left_bottom{
    width: 25.91%;
    margin-left: 1.3%;
    display: inline-table;
    vertical-align: top;
}

.sp_cnt_left .sp_cnt_left_outer{
	padding-top: 208.6%;
}

.sp_cnt_left .sp_cnt_left_outer .sp_cnt_left_inner{
    padding-top: 3%;
}

.sp_cnt_bottom .sp_cnt_bottom_outer{
    padding-top: 22.3%;
}

.sp_cnt_bottom .sp_cnt_bottom_outer .sp_cnt_bottom_inner{
    padding-top: 3%;
    word-spacing: 0;
}

.sp_cnt_left_bottom .sp_cnt_left_bottom_outer{
    padding-top: 61.7%;
}

.sp_cnt_left_bottom .sp_cnt_left_bottom_outer .sp_cnt_left_bottom_inner{
    padding-top: 3%;
}

.sp_s_main{
	width: 75.85%;
    margin-right: 1.7%;
    margin-left: -0.5%;
}

.sp_s_main .outer{
    padding-top: 75.43%;
}

.sp_s_main .outer .inner{
   background-image: url(../asset/shop_s_bg.png);
}

.options_block .options_block_outer{
    padding-top: 129%;
}

.options_block .content{
    margin-right: 4.3%;
}

.d_cards_conteiner{
    width: 16.21%;
    margin: 0.2%;
}

.left{
    float: left;
    display: block;
	vertical-align: middle;
}

.d_cards_conteiner .d_cards_conteiner_outer{
    padding-top: 171.6%;
}

.d_types{
    width: 49.9%;
    margin-right: 3%;
}

.d_types .outer{
	padding-top: 10.72%;
}

.count{
    width: 37.01%;
    margin: -2.6% auto auto auto;
}

.count .count_outer{
    padding-top: 44.16%;
}

.count .count_outer .count_inner {
    background-image: url(../asset/card_count.png);
}

.d_c_info{
	width: 27.88%;
    margin: auto auto -3.4% auto;
}

.d_c_info .d_c_info_outer{
    padding-top: 51.8%;
}

.d_c_info .d_c_info_outer .d_c_info_inner {
    background-image: url(../asset/card_info.png);
}

.d_c_info .d_c_info_outer .d_c_info_inner:hover {
    background-image: url(../asset/card_info_hov.png);
}

.count .num {
	height: 140%;
	font-family: Cambria, Georgia, serif;
    margin-top: -11%;
	color: #402a12;
}

.d_mgic{
    width: 39%;
}

.d_mgic .outer{
    padding-top: 13.71%;
}

.d_mgic .outer .inner {
    background-image: url(../asset/magic_bg.png);
}

.sp_menu{
    width: 71.48%;
    margin-left: 1.3%;
}

.sp_menu .sp_menu_outer{
    padding-top: 7.49%;
}

.sp_menu .sp_menu_outer .sp_menu_inner {
    background-image: url(../asset/sp_menu_bg.png);
    padding: 0.3% 0.4% 0.3% 0.5%;
}

.sp_menu_button{
    width: 33.32%;
	float: left;
}

.sp_menu_button .sp_menu_button_outer{
    padding-top: 20.64%;
}

.sp_menu_button .sp_menu_button_outer .sp_menu_button_inner {
    background-image: url(../asset/sp_menu_button.png);
	word-spacing: 0;
}

.sp_menu_button .sp_menu_button_outer .sp_menu_button_inner:hover {
    background-image: url(../asset/sp_menu_button_hov.png);
}

.sp_coins{
    width: 34.07%;
    display: inline-block;
    margin-top: -6%;
}

.sp_coins_left{
	margin-right: 15%;
}

.sp_coins_right{
	margin-left: 15%;
}

.sp_coins .sp_coins_outer{
    padding-top: 72.35%;
}

.sp_coins .sp_coins_outer .left {
    background-image: url(../asset/coins_bg_left.png);
}

.sp_coins .sp_coins_outer .right {
    background-image: url(../asset/coins_bg_right.png);
}

.sp_coins .sp_coins_outer .sp_coins_inner .text{
    text-align: center;
    color: #c1853a;
	height: 60%;
    margin-top: 29%;
}

.sp_coins .sp_coins_outer .left .text{
    margin-right: 39%;
}

.sp_coins .sp_coins_outer .right .text{
    margin-left: 39%;
}

.sp_title{
    width: 32.97%;
    margin: auto;
    float: left;
}

.sp_title .sp_title_outer{
	padding-top: 27.49%;
}

.sp_title .sp_title_outer .sp_title_inner {
    background-image: url(../asset/sp_title.png);
	word-spacing: 0;
}

.sp_price .price, .sp_price .text_top{
    height: 60%;	
    font-family: Cambria, Georgia, serif;
}

.sp_price .text_top{
    margin-top: 2%;
    color: #fffc9e;
}

.sp_price .price{
    color: #dbbf78;
    margin-top: -10%;
}

.price_item{
	display: inline-block;
	vertical-align: middle;
	width: 31%;
}

.price_t{
    padding: 0 13%;
}

.price_img{
	width: 26%;
	vertical-align: middle;
	margin-left: 16%;
}

.avatar_conteiner{
    width: 71.99%;
}

.avatar_conteiner .avatar_conteiner_outer{
    padding-top: 42.67%;
}

.avatar_conteiner .avatar_conteiner_outer .avatar_conteiner_inner {
    background-image: url(../asset/avatars_scroll_bg.png);
	z-index: 1;
    padding: 1.4%;
}

.shirts .avatar_conteiner{
	width: 73.71%;
}

.shirts .avatar_conteiner .avatar_conteiner_outer .avatar_conteiner_inner {
    background-image: url(../asset/shirts_scroll_bg.png);
}

.shirts .avatar_conteiner .avatar_conteiner_outer {
    padding-top: 41%;
}

.shirts .avatar_item {
    width: 24.9%;
}

.shirts .avatar_item .avatar_item_outer {
    padding-top: 150%;
}

.d_cards{
    width: 91.64%;
    margin: auto;
}

.d_cards .outer{
    padding-top: 57.14%;
}

.d_cards .outer .inner{
	background-image: url(../asset/cards_bg.png);
	padding: 1.4% 2%;
}

.achievements_main .mCSB_scrollTools {
    width: 3.3%;
}


.achievements_main .mCSB_scrollTools .mCSB_buttonUp, .achievements_main .mCSB_scrollTools .mCSB_buttonDown {
    height: 3.7%;
}

.achievements_main{
	width: 82.96%;
	margin: 1% auto;
}

.achievements_main .outer{
    padding-top: 62.52%;
}

.achievements_main .outer .inner{
	background-image: url(../asset/achievements3.png);
    padding: 0.8% 0.1% 0.8% 1.2%;
}

.achievements_row{
    width: 96.97%;
    margin: 0.7% 0;
}

.achievements_row .achievements_row_outer{
	padding-top: 30.84%;
}

.achievements_row .achievements_row_outer .achievements_row_inner{
	background-image: url(../asset/achievements_row_bg.png);
	padding: 1% 0;	
}

.friends_main{
	width: 75.98%;
    margin: auto;
}

.friends_main .outer{
    padding-top: 66.54%;
}

.friends_main .outer .inner{
	background-image: url(../asset/friends_items_bg.png);
    padding: 2.5% 0 2.5% 2.5%;
}

.friends_row{
    width: 91.77%;
    margin: -0.4% 0 0 0;
    border: 0.11vw solid #6f532f;
}

.friends_row_item{
	cursor: pointer;	
}

.friends_row_item:hover, .friends_row_clicked{
	background-color: #af724e; 
}

.friends_row .friends_row_outer{
    padding-top: 5.78%;
}

.friends_row:first-child{
	margin: 0;
}

.m_row{
	width: 95%;
    text-align: left;
	margin-left: 1%;
}

.m_row:first-child{
    margin-top: 3%;
}

.m_row .m_row_outer{
    padding-top: 5.46%;
}

.gen_top, .gen_bottom{
    width: 100%;
    margin: auto;
}

.gen_top .outer{
	padding-top: 60.13%;
}

.gen_top .outer .inner{
	background-image: url(../asset/gen_popup_top.png);
}

.gen_top .outer .inner .gen_item{
    width: 27%;
    display: inline-table;
    vertical-align: middle;
}

.gen_top .outer .inner .text{
	color: #b49155;
    display: inline-table;
    vertical-align: middle;
    width: 56%;
    margin-left: 3%;
    text-align: left;
    font-size: 0.8vw;
}

.gen_top .outer .inner .text .abil {
    margin-top: 2%;
}

.gen_top .outer .inner .text .abil .gen_abil {
    display: inline-table;
    width: 15%;
    vertical-align: middle;
}

.gen_top .outer .inner .text .abil .abil_text {
	display: inline-table;
    vertical-align: middle;
    width: 83%;
    margin-left: 2%;
}

.gen_top, .gen_bottom{
    width: 100%;
    margin: auto;
}

.gen_top .outer{
	padding-top: 60.13%;
}

.gen_top .outer .inner{
	background-image: url(../asset/gen_popup_top.png);
    padding-top: 9%;
}

.gen_bottom .outer{
	padding-top: 25.33%;
}

.gen_bottom .outer .inner{
	background-image: url(../asset/gen_popup_bottom.png);
}

.s_block_top, .options_block{
	width: 100%;
}

.s_block_bottom{
    width: 94.38%;
}

.s_block_top .s_block_top_outer{
	padding-top: 38.26%;
}

.s_block_top .s_block_top_outer .s_block_top_inner{
	background-image: url(../asset/s_top.png);
    padding: 13% 5% 5% 5%;
}

.s_block_top .s_block_top_outer .s_block_top_inner .text{
	text-align: left;
	color: #eee691;
	word-spacing: 0;
    font-size: 0.75vw;
    height: 100%;
    line-height: 100%;
}

.s_block_top .s_block_top_outer .s_block_top_inner img{
    float: left;
    width: 22%;
    margin-top: -2%;
    margin-left: -3%;
}

.s_block_bottom .s_block_bottom_outer{
    padding-top: 13.19%;
}

.s_block_bottom .s_block_bottom_outer .s_block_bottom_inner{
	background-image: url(../asset/s_bottom.png);
	cursor: pointer;
}

.p_l_cnt{
    width: 15.73%;
	margin: -11% auto auto auto;
}

.p_l_cnt .p_l_cnt_outer{
    padding-top: 100%;
}

.p_l_cnt .p_l_cnt_outer .p_l_cnt_inner{
	background-image: url(../asset/circle.png);
}

.p_l_cnt .p_l_cnt_outer .p_l_cnt_inner .text{
	height: 100%;
    margin-top: -4%;
}

.order{
    width: 50%;
    float: left;
}

.order .outer{
    padding-top: 69%;
}

.order .outer .left{
	background-image: url(../asset/order_left.png);
}

.order .outer .left:hover, .order .outer .selected_left{
	background-image: url(../asset/order_left_hov.png);
}

.order .outer .right{
	background-image: url(../asset/order_right.png);
}

.order .outer .right:hover, .order .outer .selected_right{
	background-image: url(../asset/order_right_hov.png);
}

.p_l_cnt .p_l_cnt_outer .p_l_cnt_inner .text{
	height: 100%;
    margin-top: -4%;
}

.sorrow{
    width: 9.4%;
	margin: auto 2%;
}

.sorrow .sorrow_outer{
    padding-top: 269.8%;
}

.sorrow .sorrow_outer .sorrow_inner{
	background-image: url(../asset/sorrow.png);
}

.sorrow .sorrow_outer .sorrow_inner .text, .shield .shield_outer .shield_inner .text{
    height: 80%;
    margin-top: -4%;
    font-weight: bold;
    color: #ffffff;
}

.shield .shield_outer .shield_inner .text{
    margin-top: 15%;
}

.shield{
    width: 11.27%;
	margin: auto 1%;
}

.shield .shield_outer{
	padding-top: 218.75%;
}

.shield .shield_outer .shield_inner{
	background-image: url(../asset/shield.png);
}

.t_icon{
    width: 10.65%;
    margin: auto 0.9%;
}

.t_icon .t_icon_outer{
    padding-top: 100%;
}

.d_card_new{
    width: 37.49%;
    position: absolute;
    right: 1.8%;
    top: 0.6%;
}

.d_card_new:hover{
	opacity: 0;
}

.d_card_new .d_card_new_outer{
    padding-top: 98.72%;
}

.d_card_new .d_card_new_outer .d_card_new_inner{
	background-image: url(../asset/new.png);
}

.d_card_new .d_card_new_outer .d_card_new_inner .text{
	height: 50%;
    margin-left: 30%;
    margin-top: 8%;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.m_icon{
	width: 7.38%;
    margin: 1.5% 0.7% auto 0.7%;
}

.m_icon:first-child{
    margin-left: 2.3%;
}

.m_icon .m_icon_outer{
    padding-top: 145.3%;
}

.m_icon .m_icon_outer .m_icon_inner{
	background-image: url(../asset/magic_icon.png);
}

.m_icon .m_icon_outer .m_icon_inner:hover{
	background-image: url(../asset/magic_icon_hov.png);
}

.before, .after{
    width: 2.2%;
}

.before .before_outer, .after .after_outer{
	padding-top: 124.64%;
}

.before .before_outer .before_inner{
	background-image: url(../asset/paging_icon_right.png);
}

.before .before_outer .before_inner:hover{
	background-image: url(../asset/paging_icon_right_hov.png);
}

.after .after_outer .after_inner{
	background-image: url(../asset/paging_icon_left.png);
}

.after .after_outer .after_inner:hover{
	background-image: url(../asset/paging_icon_left_hov.png);
}

.numbers{
    width: 1.5%;
}

.numbers .numbers_outer{
	padding-top: 182%;
}

.numbers .numbers_outer .numbers_inner{
	background-image: url(../asset/paging_icon_repeat.png);
    background-size: contain;
    background-repeat: repeat-x;
}

.numbers .num{
    height: 110%;
    margin-top: -5%;
	cursor: pointer;
	font-family: Cambria, Georgia, serif;
}

.numbers .num:hover{
    background-image: url(../asset/bg_shadow.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.d_card{
    width: 100%;
    margin: 0.2% 0;
}

.d_card .d_card_outer{
	padding-top: 147.1%;
    background-image: url(../asset/card_bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.d_card .d_card_outer .d_card_inner{
    background-image: url("../asset/game/cards/sp_fire_14_haste.png");
    background-repeat: no-repeat;
    background-size: 93%;
    text-align: center;
    background-position: center;
}

.sp_item{
    width: 40.59%;
    margin: 0 1%;
}

.sp_item .sp_item_outer{
    padding-top: 145.94%;
    background-image: url(../asset/sp_item_bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.sp_item .sp_item_outer .sp_item_inner{
    background-image: url("../asset/game/shirts/casing5-.png");
    background-repeat: no-repeat;
    background-size: 94%;
    text-align: center;
    background-position: center;
}

.mess_icn{
    width: 11.28%;
    margin: auto 1%;
    display: inline-table;
}

.mess_icn .mess_icn_outer{
    padding-top: 80%;
}

.mess_icn .mess_icn_outer .in{
	background-image: url(../asset/mess_in.png);
}

.mess_icn .mess_icn_outer .in:hover{
	background-image: url(../asset/mess_in_hov.png);
}

.mess_icn .mess_icn_outer .out{
	background-image: url(../asset/mess_out.png);
}

.mess_icn .mess_icn_outer .out:hover{
	background-image: url(../asset/mess_out_hov.png);
}

.gen_icon, .book_icon{
    width: 5.76%;
    margin: 0 0.2% -0.3% 0.2%;
}

.gen_icon .outer, .book_icon .outer{
    padding-top: 76.17%;
}

.gen_icon .outer .inner{
	background-image: url(../asset/gen_icon.png);
}

.gen_icon .outer .inner:hover{
	background-image: url(../asset/gen_icon_hov.png);
}

.book_icon .outer .inner{
	background-image: url(../asset/book_icon.png);
}

.book_icon .outer .inner:hover{
	background-image: url(../asset/book_icon_hov.png);
}

.reward{
    width: 55.17%;
    margin: 4% auto 1% auto;
}

.reward_outer{
    padding-top: 20.41%;
}

.reward .reward_outer .reward_inner{
	background-image: url(../asset/reward.png);
}

.d_card_row{
    width: 85.12%;
    float: left;
    margin-left: 1%;
}

.d_card_row .d_card_row_outer{
    padding-top: 21%;
}

.d_card_row .d_card_row_outer .d_card_row_inner .m_icon{
    width: 11%;
    margin: 2% auto auto 4%;
}

.d_card_row .d_card_row_outer .d_card_row_inner .m_icon .num{
	height: 180%;
    margin-top: -47%;
}

.d_card_row .d_card_row_outer .d_card_row_inner .text{
	color: #ffe69b;
    word-spacing: 0;
    height: 100%;
}

.d_card_row_close{
    width: 12.8%;
    float: left;
}

.d_card_row_close .d_card_row_close_outer{
    padding-top: 139.7%;
}

.d_card_row_close .d_card_row_close_outer .d_card_row_close_inner{
	background-image: url(../asset/card_close.png);
}

.d_card_row_close .d_card_row_close_outer .d_card_row_close_inner:hover{
	background-image: url(../asset/card_close_hov.png);
}

.m_icon .num{
    color: #ffffff;
    -webkit-text-stroke: 0.3px #035981;
    height: 110%;
    font-family: Cambria, Georgia, serif;
	font-weight: bold;
}

.arrow{
    width: 3.91%;
    margin: auto 0.1%;
}

.arrow .outer{
    padding-top: 177%;
}

.sp_left{
    margin: 0.7% -3.8% 0 34.2%;
}

.sp_right{
	margin: 0.7% 0 0 -3.8%;
}

.sp_title_arrow{
    width: 3.16%;
    z-index: 1;
    position: relative;
    float: left;
}

.sp_title_arrow .sp_title_arrow_outer{
    padding-top: 232.9%;
}

.search{
    width: 4.5%;
	float: right;
    margin-right: 0.5%;
    margin-top: -4.4%;
}

.search .outer{
    padding-top: 92%;
}

.search .outer .inner{
	background-image: url(../asset/search.png);
}

.search .outer .inner:hover{
	background-image: url(../asset/search_hov.png);
}

.s_arrow{
    width: 7.05%;
    margin: auto;
}

.s_arrow .s_arrow_outer{
    padding-top: 177%;
}

.arrow .outer .left, .s_arrow .s_arrow_outer .left{
	background-image: url(../asset/arrow_left.png);
}

.arrow .outer .left:hover, .s_arrow .s_arrow_outer .left:hover{
	background-image: url(../asset/arrow_left_hov.png);
}

.arrow .outer .right, .s_arrow .s_arrow_outer .right{
	background-image: url(../asset/arrow_right.png);
}

.arrow .outer .right:hover, .s_arrow .s_arrow_outer .right:hover{
	background-image: url(../asset/arrow_right_hov.png);
}

.sp_title_arrow .sp_title_arrow_outer .left{
	background-image: url(../asset/sp_title_left.png);
}

.sp_title_arrow .sp_title_arrow_outer .right{
	background-image: url(../asset/sp_title_right.png);
}

.sp_main{
    margin-top: 1.3%;
}

.gen_wrap .fancybox-skin{
	background-image: initial;
}

.middle_iframe .fancybox-skin{
	background-image: url('../asset/popup_bg_middle.png');
}

.middle_iframe .fancybox-close{
    top: 2%;
    right: 1.7%;
    width: 4.4%;
    height: 7.15%;
}

.small_iframe .fancybox-skin{
	background-image: url('../asset/popup_bg_small.png');
}

.shop_iframe .fancybox-skin{
	background-image: url('../asset/shop_bg.png');
}

.small_iframe .fancybox-close{
    top: 2.8%;
    right: 1.6%;
    width: 4.4%;
    height: 7.15%;
}

 .shop_iframe .fancybox-close{
	top: 2.4%;
    right: 1.7%;
    width: 4.4%;
    height: 7.15%;
 }
 
.popup_container_small .game_menu{
    width: 88.39%;
}

.popup_container_small .game_menu .game_menu_outer{
    padding-top: 11.4%;
}

.popup_container_small .m_menu {
    width: 40%;
}

.popup_container_small .middle_button {
    width: 32.8%;
}

.popup_container_small .middle_button .outer .inner {
    height: 92%;
}

.popup_container_small .game_menu_arrow {
    width: 5.8%;
}

.popup_container_small .p_button {
    margin: auto;
    width: 14%;
}

.popup_container_small .p_button .p_button_outer .p_button_inner, .popup_container_middle .p_button .p_button_outer .p_button_inner{
    height: 90%;
}

.popup_container_middle .p_button {
    margin: auto 1%;
    width: 15.03%;
}

.popup_container_middle .s_blocks {
	width: 30.34%;
}

.popup_container_middle .s_blocks .outer {
	padding-top: 182.65%;
}

.popup_container_middle .s_blocks .outer .inner{
	background-image: initial;
}

.settings{
	margin: auto 3%;
}

.settings_control{
    margin: 12% auto auto auto;
}

.sound_control{
    margin: 20% auto auto auto;
}

.p_title .title{
	width: 14.24%;
    margin: auto;
    text-align: center;
}

.p_title{
    margin-top: 2%;
	text-align: center;
}

.a_title{
    margin-top: 2.5%;
	text-align: center;
}

.a_title .title{
	width: 16.3%;
    margin: auto;
    text-align: center;
}

.cntrl{
    margin-top: 1%;
	text-align: center;
}

.p_m .p_button{
    width: 52%;
    word-spacing: 0;
}

.p_l_c{
    display: inline-block;
    vertical-align: middle;
    width: 6%;
}

.s_item{
    margin: -1% auto;
    clear: both;
}

.options_block_inner .mCSB_scrollTools {
    width: 6%;
    margin-right: -1.2%;
}

.options_block_inner .mCSB_scrollTools .mCSB_buttonUp, .options_block_inner .mCSB_scrollTools .mCSB_buttonDown{
    height: 3%;
}

.p_s_l_m{
	margin-left: 8%;
}

.p_s_r_m{
	margin-right: 8%;
}

.sp_select .s_item_left .s_item_left_outer{
    padding-top: 135.31%;
}

.sp_select .s_item_right .s_item_right_outer {
    padding-top: 37.79%;
}

.sp_select .s_item_left .s_item_left_outer .s_item_left_inner{
	background-size: 80%;
}

.sp_cnt_left .s_item_left .s_item_left_outer .s_item_left_inner{
	background-size: 70%;
}

.sp_select .s_item_right .s_item_right_outer .s_item_right_inner .text, .sp_cnt_left .s_item_right .s_item_right_outer .s_item_right_inner .text{
	text-align: center;
}

.sp_cnt .arrow{
	width: 7.36%;
}

.sp_cnt .title{
    width: 28.89%;
    margin: 2% auto auto auto;
}

.sp_cnt_left .title{
    width: 65.24%;
    margin: auto;
}

.sp_cnt_bottom .button{
    width: 22%;
    margin: 2% auto auto auto;
	word-spacing: 0;
}

.sp_cnt_left_bottom .button_large{
    width: 60.7%;
    margin: 9% auto auto auto;
}

.sp_cnt_left_bottom .button{
    font-family: Cambria, Georgia, serif;
}

.sp_cnt_left_bottom .button_small{
    width: 38.79%;
    float: left;
    margin-top: 6%;
    word-spacing: 0;
}

.sp_cnt_left_bottom .button_small_left{
    margin-right: 5%;
	margin-left: 6%;
}

.sp_cnt_left_bottom .button_small_right{
    margin-left: 5%;
}

.sp_cnt_left_bottom .button .r{
    width: 13.14%;
    vertical-align: middle;
	margin-left: 7%;
}

.sp_cnt_left_bottom .button .coin{
    width: 22.43%;
    vertical-align: middle;
	margin-left: 7%;
}

.sp_cnt_left_bottom .button_small .button_outer{
    padding-top: 47%;
}

.s_item_right .sp_price .text_top, .s_item_right .sp_price .price{
	height: 90%;
}

.s_item_right .sp_price .text_top{
    margin-top: -8%;
}

.popupClose, .alClose{
	position: relative;
    cursor: pointer;
    z-index: 8040;
    background-image: url("../asset/exit.png");
    float: right;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
	-webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.popupClose:hover, .alClose:hover{
    background-image: url("../asset/exit_hov.png");
}

.over-layer {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…BoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0.7)), color-stop(100%, rgba(0, 0, 0, 0.7)));
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%);
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%);
    background: -ms-linear-gradient(left, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc000000', endColorstr='#cc000000', GradientType=1);
    height: 100%;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.over-layer-wrap {
    display: table;
    height: 100%;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

.over-layer-wrap-container {
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
}

.over-layer-wrap-container-center{
    margin: auto;
    background-size: 100% 100%;
	padding: 0.78%;
}

.popup_large .over-layer-wrap .over-layer-wrap-container .over-layer-wrap-container-center{
    background-image: url('../asset/popup_bg.png');
    width: 84.69vw;
    height: 83.15vh;
}

.popup_large .over-layer-wrap .over-layer-wrap-container .over-layer-wrap-container-center .p_content{
    position: absolute;
    width: 84.69vw;
}

.popup_large .popupClose{
    top: 1%;
    right: 0.6%;
    width: 3.87%;
    height: 6.9%;
}

.popup_achievements .over-layer-wrap .over-layer-wrap-container .over-layer-wrap-container-center{
    background-image: url('../asset/achievements_bg.png');
    width: 62.97vw;
    height: 84.17vh;
}

.popup_achievements .over-layer-wrap .over-layer-wrap-container .over-layer-wrap-container-center .p_content{
    position: absolute;
    width: 62.97vw;
}

.popup_achievements .popupClose{
	top: 1.1%;
    right: 0.7%;
    width: 5.13%;
    height: 6.72%;
}

.popup_small .over-layer-wrap .over-layer-wrap-container .over-layer-wrap-container-center{
    background-image: url('../asset/popup_bg_small.png');
    width: 73.13vw;
    height: 77.7vh;
}

.popup_small .over-layer-wrap .over-layer-wrap-container .over-layer-wrap-container-center .p_content{
    position: absolute;
    width: 73.13vw;
}

.popup_small .popupClose{
    top: 1.1%;
    right: 0.6%;
    width: 4.49%;
    height: 7.4%;
}

.popup_friends .over-layer-wrap .over-layer-wrap-container .over-layer-wrap-container-center{
    background-image: url('../asset/friends_bg.png');
    width: 37.5vw;
    height: 58.07vh;
}

.popup_friends .over-layer-wrap .over-layer-wrap-container .over-layer-wrap-container-center .p_content{
    position: absolute;
    width: 37.5vw;
}

.popup_friends .popupClose{
    top: 1.3%;
    right: 1.3%;
    width: 8.48%;
    height: 9.89%;
}

.popup_rating .over-layer-wrap .over-layer-wrap-container .over-layer-wrap-container-center{
    background-image: url('../asset/friends_bg.png');
    width: 37.5vw;
    height: 64.27vh;
}

.popup_rating .over-layer-wrap .over-layer-wrap-container .over-layer-wrap-container-center .p_content{
    position: absolute;
    width: 37.5vw;
}

.popup_rating .popupClose{
    top: 1.3%;
    right: 1.3%;
    width: 8.48%;
    height: 9.89%;
}

.popup_shop .over-layer-wrap .over-layer-wrap-container .over-layer-wrap-container-center{
    background-image: url('../asset/shop_bg.png');
    width: 73.13vw;
    height: 77.7vh;
}

.popup_shop .over-layer-wrap .over-layer-wrap-container .over-layer-wrap-container-center .p_content{
    position: absolute;
    width: 73.13vw;
}

.popup_shop .popupClose{
    top: 0.7%;
    right: 0.7%;
    width: 4.49%;
    height: 7.4%;
}

.popup_middle .over-layer-wrap .over-layer-wrap-container .over-layer-wrap-container-center{
    background-image: url('../asset/popup_bg_middle.png');
    width: 73.13vw;
    height: 87.88vh;
}

.popup_middle .over-layer-wrap .over-layer-wrap-container .over-layer-wrap-container-center .p_content{
    position: absolute;
    width: 73.13vw;
}

.popup_middle .popupClose{
    top: 0.8%;
    right: 0.7%;
    width: 4.49%;
    height: 6.54%;
}

.popup_general .over-layer-wrap .over-layer-wrap-container .over-layer-wrap-container-center{
    width: 39.1vw;
    height: 60.4vh;
}

.popup_general .over-layer-wrap .over-layer-wrap-container .over-layer-wrap-container-center .p_content{
    position: absolute;
    width: 39.1vw;
}

.popup_general .alertClose{
    width: 7%;
    height: 11%;
    position: absolute;
    right: 2.3%;
    top: 4%;
}

.popup_error .over-layer-wrap .over-layer-wrap-container .over-layer-wrap-container-center{
    background-image: url('../asset/error_bg.jpg');
	width: 18.81vw;
    height: 17.33vh;
}

.popup_error .over-layer-wrap .over-layer-wrap-container .over-layer-wrap-container-center .p_content{
    position: absolute;
	width: 18.81vw;
}

.popup_error .alertClose{
    width: 45.69%;
    margin: auto;
}

.popup_letter .over-layer-wrap .over-layer-wrap-container .over-layer-wrap-container-center{
    background-image: url('../asset/letter_bg.png');
    width: 23.08vw;
	height: 26.49vh;
}

.popup_letter .over-layer-wrap .over-layer-wrap-container .over-layer-wrap-container-center .p_content{
    position: absolute;
    width: 23.08vw;
}

.popup_letter .alertClose{
    width: 45.69%;
    margin: auto;
}

.popup_m_error .over-layer-wrap .over-layer-wrap-container .over-layer-wrap-container-center{
    background-image: url('../asset/m_error_bg.png');
	width: 31.93vw;
    height: 54.36vh;
}

.popup_m_error .over-layer-wrap .over-layer-wrap-container .over-layer-wrap-container-center .p_content{
    position: absolute;
	width: 31.93vw;
}

.popup_messages .over-layer-wrap .over-layer-wrap-container .over-layer-wrap-container-center{
    background-image: url('../asset/messages_bg.png');
	width: 34.64vw;
    height: 66.49vh;
}

.popup_messages .over-layer-wrap .over-layer-wrap-container .over-layer-wrap-container-center .p_content{
    position: absolute;
	width: 34.64vw;
}

.popup_container_generals, .popup_container_achievements, .popup_container_friends, .popup_container_rating, .popup_container_error, .popup_container_m_read, .popup_container_m_new, .popup_container_m_error, .popup_container_exit, .popup_container_letter, .popup_container_p_done, .popup_container_messages{
	margin: auto;
}

.popup_done .over-layer-wrap .over-layer-wrap-container .over-layer-wrap-container-center{
    background-image: url('../asset/m_error_bg.png');
    width: 23.13vw;
    height: 45.29vh;
}

.popup_done .over-layer-wrap .over-layer-wrap-container .over-layer-wrap-container-center .p_content{
    position: absolute;
    width: 23.13vw;
}

.d_p{
    width: 100%;
    padding: 0 5.5%;
}

.d_p_l{
    width: 100%;
    padding: 0 4.5%;
}

.paging{
	width: 100%;
}

.gen_select {
    width: 13.5%;
    margin: 2% 0.7% 0 0.7%;
    opacity: 0.5;
	cursor: pointer;
}

.gen_select:hover {
    opacity: 1;
}

.chat_top{
    width: 98.9%;
    display: inline-block;
    background-image: url("../asset/chat_top.png");
    background-size: 100% 100%;
    margin-top: 1%;
    float: left;
}

.chat_top .game_menu_arrow{
    width: 6.63%;
}

.chat_top .game_menu{
    float: left;
    width: 85%;
}

.chat_top .game_menu_outer{
    padding-top: 13.8%;
}

.chat_top .middle_button{
    width: 33.33%;
    float: left;
    margin: 1% auto auto auto;
}

.chat_top .middle_button .middle_button_outer{
    padding-top: 34%;
}

.chat_top .middle_button .middle_button_outer .middle_button_inner{
	background-image: url("../asset/chat_top_button.jpg");
}

.chat_top .middle_button .middle_button_outer .middle_button_inner:hover{
	background-image: url("../asset/chat_top_button_hov.jpg");
}

.chat_top .middle_button .middle_button_outer .middle_button_inner .text{
	height: 100%;
}

.chat_top .first{
    margin-left: 1%;
}

.chat_right{
	width: 30%;
	margin-right: 1%;
	height: 87%;
	float: right;
    border-right: 0.2vw solid #b06618;
    border-left: 0.2vw solid #b06618;
    z-index: 1;
    position: relative;
}

.chat_left{
	width: 66%;
    height: 87%;
    float: left;
}

.chat_left_top{
    width: 83%;
    height: 77%;
    float: left;
    clear: both;
    font-size: 0.65vw;
    color: #b06618;
    padding: 5%;
}

.chat_left_bottom{
    width: 98%;
    height: 11%;
    float: left;
    clear: both;
    padding: 0 2%;
    color: #b06618;
    font-size: 0.7vw;
    background-color: transparent;
    border-top: 0.2vw solid #b06618;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.chat_left_bottom:focus, .p_input:focus, .p_select:focus, .p_text:focus, .f_txt:focus{
    outline: none;
}

.chat_right .game_menu_arrow{
    width: 21%;
    margin-top: 126%;
    margin-left: -21%;
}


.chat_user:first-child{
	margin-top: auto;
}

.chat_right_content{
	display: block;
    width: 100%;
    float: right;
}
.chat_user{
    display: block;
    width: 100%;
    margin: 3% auto auto auto;
    clear: both;
}

.chat_user_nav{
	display: none;
}

.chat_left_top  .mCSB_scrollTools {
    width: 4%;
}

.error .text{
    margin: 10% auto 4% auto;
    font-size: 0.9vw;
    color: #3a2408;
    width: 94%;
    padding: 0 3%;
}

.а_l_title .title{
    width: 34.41%;
	margin: auto;
}

#m_error .title_outer, .а_l_title .title_outer{
    background-image: url(../asset/title-long.png);
    padding-top: 19.2%;
}

#m_error .title{
    width: 48.45%;
	margin: 3% auto auto auto;
}

.popup_m_error .button{
    width: 27.57%;
    margin: auto 3%;
    display: inline-table;
}

.p_input{
    display: block;
    width: 69%;
    margin: auto;
    padding: 0.3% 2%;
    border: 0.12vw solid #c88c42;
    box-shadow: 0 0 0.2vw 0 #000;
    border-radius: 0.2vw;
    background-image: url("../asset/field_bg.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 1.3vh;
    color: #b06618;
    font-size: 0.6vw;
}

.p_select{
	display: block;
    width: 100%;
    padding: 0.3% 2%;
    background-image: url("../asset/m_arrow.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    height: 1.8vh;
    color: #b06618;
    -webkit-appearance: none;
    font-size: 0.6vw;
    background-color: transparent;
    background-position: right;
    border: none;
	cursor: pointer;
}

.p_select:focus, .p_select:hover{
    background-image: url("../asset/m_arrow_hov.png");
}

.p_select_main{
display: block;
    width: 73%;
    margin: auto;
    background-image: url("../asset/field_bg.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 0.12vw solid #c88c42;
    box-shadow: 0 0 0.2vw 0 #000;
    border-radius: 0.2vw;
}

.p_select * {
	background-color: #3a240a;
}

.p_lbl{
    display: block;
    width: 74%;
    margin: 2.5% auto 0.5% auto;
    text-align: left;
    color: #3a2408;
    font-size: 0.8vw;
}



.popup_m_error .textarea-wrapper {
    display: block;
	width: 73%;
    margin: 7% auto;
    border: 0.12vw solid #c88c42;
    box-shadow: 0 0 0.2vw 0 #000;
    border-radius: 0.2vw;
    background-image: url("../asset/field_bg.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 17vh;
    text-align: left;
    overflow: hidden;
}

.popup_m_error textarea {
	color: #b06618;
	text-align: left;
    height: 13vh;
    resize: none;
    overflow: hidden;
    outline: none;
    margin: 0;
    border: none;
    background: transparent;
    box-shadow: none;
}

.popup_m_error .textarea-clone {
    position: absolute;
    top: -9999px;
    left: -9999px;
    visibility: hidden;
    min-height: 13vh;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.popup_m_error textarea, .popup_m_error .textarea-clone {
    width: 91%;
    line-height: 150%;
    padding: 2%;
    line-height: 150%;
    font-size: 0.6vw;
}

.popup_m_error .mCSB_scrollTools {
    width: 7%;
    margin-right: -1%;
}

.popup_m_error .mCSB_scrollTools .mCSB_buttonUp, .popup_m_error .mCSB_scrollTools .mCSB_buttonDown {
    height: 14%;
}

.popup_achievements .m_menu {
    width: 76.43%;
}

.popup_achievements .m_menu .middle_button{
	width: 24.92%;
    margin: 0.7% auto auto 0.1%;
}

.popup_achievements .m_menu .middle_button:first-child{
	margin: 0.7% auto auto 0;
}

.popup_achievements .m_menu .middle_button_outer{
	padding-top: 24%;
}

.popup_achievements .button{
    width: 13.82%;
    display: inline-table;
    margin: auto 0.5%;
}

.achievements_items{
    background-image: url("../asset/achievements_items_bg.png");
    background-repeat: no-repeat;
    width: 96%;
    margin: auto;
    background-size: 100% auto;
}

.popup_done .title{
    width: 44.5%;
    margin: 3% auto auto auto;
}

.popup_done .button{
    width: 37.6%;
    margin: 3% auto auto auto;
}

.done_img{
    width: 41.66%;
    margin: 2% auto auto auto;
}

.done_text{
    width: 95%;
    margin: 1% auto auto auto;
    color: #392309;
    font-size: 0.75vw;
    font-weight: bold;
}

.popup_friends .title, .popup_rating .title {
    width: 27.5%;
    margin: 4% auto auto auto;
}

.popup_friends .button, .popup_rating .button {
    width: 23.2%;
    display: inline-table;
    margin: auto 0.9%;
}

.order_main{
    width: 15.77%;
    float: left;
}

.f_menu{
	width: 74%;
    margin: auto;
    text-align: left;
}

.f_menu .p_input{
    display: block;
    width: 76%;
    height: 1.7vh;
    vertical-align: middle;
	float: right;
    margin-top: 0.5%;
}

.f_brd{
    border-right: 0.11vw solid #6f532f;
}

.f_item{
    height: 100%;
    display: block;
    float: left;
    text-align: center;
    color: #3a2408;
}

.f_num{
    width: 4.5%;
    text-align: left;
    padding: 0 1.5%;
}

.f_name{
	width: 56%;
	text-align: left;
    padding: 0 1.5%;
}

.f_icon{
    width: 9%;
}

.f_stn{
    width: 13.5%;
}

.f_icon3_img{
	width: 39%;
	vertical-align: middle;
}

.f_icon2_img{
    width: 54.5%;
    vertical-align: middle;
}

.f_icon1_img{
	width: 37%;
    vertical-align: middle;
}

.f_icon6_img{
	width: 31.8%;
    vertical-align: middle;
}

.f_icon5_img{
    width: 24.22%;
    vertical-align: middle;
}

.f_icon4_img{
    width: 21.2%;
    vertical-align: middle;
}

.f_u_container{
	width: 100%;
    height: 91.5%;
    margin-top: -0.4%;	
}

.f_u_container .mCSB_scrollTools{
	width: 7.7%;
}

.f_u_container .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar:before{
	margin-left: 0;
}

.f_u_container .mCSB_scrollTools .mCSB_buttonUp, .f_u_container  .mCSB_scrollTools .mCSB_buttonDown{
    height: 10%;
}

.f_txt{
    width: 98%;
    height: 4.5vh;
    resize: none;
    background-image: url("../asset/f_bg.png");
    border: none;
    margin-bottom: -0.7%;
    padding: 1%;
    text-align: left;
    background-repeat: no-repeat;
    background-size: 100% 100%;
	color: #b06618;
	font-size: 0.6vw;
	display: none;
}

.f_u_container .chat_user_nav_button{
    width: 22%;
    float: right;
    margin-top: -5%;
    margin-right: 0.7%;
	display: none;
}

.popup_rating .m_menu {
	width: 80.14%;
}

.popup_rating .game_menu_arrow {
    width: 5.8%;
}

.popup_rating .game_menu {
    width: 88.39%;
}

.popup_rating .middle_button {
    width: 32.8%;
    margin: 1% auto auto 0.7%;
}

.popup_rating .middle_button:first-child{
    width: 32.8%;
    margin: 1% auto auto 0;
}

.popup_rating .game_menu .game_menu_outer {
    padding-top: 11.4%;
}

.popup_rating .f_name {
    width: 66.1%;
}

.popup_rating .f_icon {
    width: 11%;
}

.popup_rating .f_icon3_img {
    width: 31.6%;
}

.popup_rating .f_icon2_img {
    width: 44.6%;
}

#exit .alertClose {
    width: 41%;
    margin: auto 2%;
    display: inline-table;
}

#exit .text{
	font-size: 1vw;
}

.popup_letter .button {
    width: 38%;
    margin: auto 3%;
    display: inline-table;
}

.popup_letter .text{
	font-size: 1.3vw;
	margin: 8% auto 4% auto;
}

.letter_img {
    width: 35.66%;
    margin: auto;
}

.popup_messages .title{
    width: 29.78%;
    margin: 3% auto auto auto;
}

.popup_messages .button{
    width: 25.7%;
    display: inline-table;
    margin: auto 2%;
}

.popup_messages .label{
    width: 3.28%;
    float: none;
    position: relative;
    display: inline-table;
    clear: both;
    margin: auto;
    vertical-align: middle;
}

.popup_messages .label_outer .label_inner{
    background-image: url("../asset/checkbox2.png");
}

.popup_messages .label_outer .label_inner:hover{
    background-image: url("../asset/checkbox2_active.png");
}

.popup_messages .checkbox:checked + label .label_inner{
    background-image: url("../asset/checkbox2_active.png");
}

.popup_messages .mCSB_scrollTools{
    width: 6%;
    margin-right: -1%;
}

.mes_r{
    margin: 2% auto 1% auto;
}

.mes_b{
    margin: auto auto 2% auto;
}

.ttle{
	display: inline-table;
    vertical-align: middle;
    width: 85%;
    color: #3a2408;
    font-size: 0.8vw;
    line-height: normal!important;
}

.p_content{opacity: 0;}

#m_new #cName{
    display: inline-table;
    vertical-align: middle;
}

.m_usr{
    display: inline-table;
    vertical-align: middle;
    margin-right: -7%;
    margin-left: 2%;
    width: 5.7%;
}

#m_new .title, #m_read .title{
    width: 32.3%;
	margin: 3% auto auto auto;
}

#m_read .mCSB_scrollTools .mCSB_buttonUp, #m_read .mCSB_scrollTools .mCSB_buttonDown {
    height: 10%;
}

#m_read .button {
    margin: auto 1.3%;
}

.d_cards_deck_row{
    display: inline-block;
    clear: both;
    width: 100%;	
}

.d_cards_deck{
	display: none;
    margin: 8% auto 5% auto;
}

.reward_img{
	width: 10.21%;
	vertical-align: middle;
}